<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>Droo</key>
	<string>D_roo.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>UniMbra</key>
	<string>U_niM_bra.glif</string>
	<key>_ai</key>
	<string>_ai.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>braoo</key>
	<string>braoo.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>chroo</key>
	<string>chroo.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>kra</key>
	<string>kra.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>rakar</key>
	<string>rakar.glif</string>
	<key>rapaya</key>
	<string>rapaya.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>troo</key>
	<string>troo.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>uni000D</key>
	<string>uni000D_.glif</string>
	<key>uni00A0</key>
	<string>uni00A_0.glif</string>
	<key>uni0D82</key>
	<string>uni0D_82.glif</string>
	<key>uni0D83</key>
	<string>uni0D_83.glif</string>
	<key>uni0D85</key>
	<string>uni0D_85.glif</string>
	<key>uni0D86</key>
	<string>uni0D_86.glif</string>
	<key>uni0D87</key>
	<string>uni0D_87.glif</string>
	<key>uni0D88</key>
	<string>uni0D_88.glif</string>
	<key>uni0D89</key>
	<string>uni0D_89.glif</string>
	<key>uni0D8A</key>
	<string>uni0D_8A_.glif</string>
	<key>uni0D8B</key>
	<string>uni0D_8B_.glif</string>
	<key>uni0D8C</key>
	<string>uni0D_8C_.glif</string>
	<key>uni0D8D</key>
	<string>uni0D_8D_.glif</string>
	<key>uni0D8E</key>
	<string>uni0D_8E_.glif</string>
	<key>uni0D8F</key>
	<string>uni0D_8F_.glif</string>
	<key>uni0D90</key>
	<string>uni0D_90.glif</string>
	<key>uni0D91</key>
	<string>uni0D_91.glif</string>
	<key>uni0D92</key>
	<string>uni0D_92.glif</string>
	<key>uni0D93</key>
	<string>uni0D_93.glif</string>
	<key>uni0D94</key>
	<string>uni0D_94.glif</string>
	<key>uni0D95</key>
	<string>uni0D_95.glif</string>
	<key>uni0D96</key>
	<string>uni0D_96.glif</string>
	<key>uni0D9A</key>
	<string>uni0D_9A_.glif</string>
	<key>uni0D9A0DCA200D0DC2</key>
	<string>uni0D_9A_0D_C_A_200D_0D_C_2.glif</string>
	<key>uni0D9B</key>
	<string>uni0D_9B_.glif</string>
	<key>uni0D9B0DCA</key>
	<string>uni0D_9B_0D_C_A_.glif</string>
	<key>uni0D9B0DD2</key>
	<string>uni0D_9B_0D_D_2.glif</string>
	<key>uni0D9B0DD3</key>
	<string>uni0D_9B_0D_D_3.glif</string>
	<key>uni0D9C</key>
	<string>uni0D_9C_.glif</string>
	<key>uni0D9C0DD4</key>
	<string>uni0D_9C_0D_D_4.glif</string>
	<key>uni0D9C0DD6</key>
	<string>uni0D_9C_0D_D_6.glif</string>
	<key>uni0D9D</key>
	<string>uni0D_9D_.glif</string>
	<key>uni0D9E</key>
	<string>uni0D_9E_.glif</string>
	<key>uni0D9E0DCA</key>
	<string>uni0D_9E_0D_C_A_.glif</string>
	<key>uni0D9E0DD2</key>
	<string>uni0D_9E_0D_D_2.glif</string>
	<key>uni0D9E0DD3</key>
	<string>uni0D_9E_0D_D_3.glif</string>
	<key>uni0D9F</key>
	<string>uni0D_9F_.glif</string>
	<key>uni0D9F0DD4</key>
	<string>uni0D_9F_0D_D_4.glif</string>
	<key>uni0D9F0DD6</key>
	<string>uni0D_9F_0D_D_6.glif</string>
	<key>uni0DA0</key>
	<string>uni0D_A_0.glif</string>
	<key>uni0DA00DCA</key>
	<string>uni0D_A_00D_C_A_.glif</string>
	<key>uni0DA00DD2</key>
	<string>uni0D_A_00D_D_2.glif</string>
	<key>uni0DA00DD3</key>
	<string>uni0D_A_00D_D_3.glif</string>
	<key>uni0DA1</key>
	<string>uni0D_A_1.glif</string>
	<key>uni0DA10DCA</key>
	<string>uni0D_A_10D_C_A_.glif</string>
	<key>uni0DA2</key>
	<string>uni0D_A_2.glif</string>
	<key>uni0DA20DCA</key>
	<string>uni0D_A_20D_C_A_.glif</string>
	<key>uni0DA3</key>
	<string>uni0D_A_3.glif</string>
	<key>uni0DA4</key>
	<string>uni0D_A_4.glif</string>
	<key>uni0DA4.rakar</key>
	<string>uni0D_A_4.rakar.glif</string>
	<key>uni0DA40DCF</key>
	<string>uni0D_A_40D_C_F_.glif</string>
	<key>uni0DA40DD4</key>
	<string>uni0D_A_40D_D_4.glif</string>
	<key>uni0DA40DD6</key>
	<string>uni0D_A_40D_D_6.glif</string>
	<key>uni0DA5</key>
	<string>uni0D_A_5.glif</string>
	<key>uni0DA5.rakar</key>
	<string>uni0D_A_5.rakar.glif</string>
	<key>uni0DA50DCF</key>
	<string>uni0D_A_50D_C_F_.glif</string>
	<key>uni0DA50DD4</key>
	<string>uni0D_A_50D_D_4.glif</string>
	<key>uni0DA50DD6</key>
	<string>uni0D_A_50D_D_6.glif</string>
	<key>uni0DA6</key>
	<string>uni0D_A_6.glif</string>
	<key>uni0DA7</key>
	<string>uni0D_A_7.glif</string>
	<key>uni0DA70DCA</key>
	<string>uni0D_A_70D_C_A_.glif</string>
	<key>uni0DA70DD2</key>
	<string>uni0D_A_70D_D_2.glif</string>
	<key>uni0DA70DD3</key>
	<string>uni0D_A_70D_D_3.glif</string>
	<key>uni0DA8</key>
	<string>uni0D_A_8.glif</string>
	<key>uni0DA80DCA</key>
	<string>uni0D_A_80D_C_A_.glif</string>
	<key>uni0DA80DD2</key>
	<string>uni0D_A_80D_D_2.glif</string>
	<key>uni0DA80DD3</key>
	<string>uni0D_A_80D_D_3.glif</string>
	<key>uni0DA9</key>
	<string>uni0D_A_9.glif</string>
	<key>uni0DA90DCA</key>
	<string>uni0D_A_90D_C_A_.glif</string>
	<key>uni0DA90DD2</key>
	<string>uni0D_A_90D_D_2.glif</string>
	<key>uni0DA90DD3</key>
	<string>uni0D_A_90D_D_3.glif</string>
	<key>uni0DAA</key>
	<string>uni0D_A_A_.glif</string>
	<key>uni0DAA0DCA</key>
	<string>uni0D_A_A_0D_C_A_.glif</string>
	<key>uni0DAA0DD2</key>
	<string>uni0D_A_A_0D_D_2.glif</string>
	<key>uni0DAA0DD3</key>
	<string>uni0D_A_A_0D_D_3.glif</string>
	<key>uni0DAB</key>
	<string>uni0D_A_B_.glif</string>
	<key>uni0DAC</key>
	<string>uni0D_A_C_.glif</string>
	<key>uni0DAC0DCA</key>
	<string>uni0D_A_C_0D_C_A_.glif</string>
	<key>uni0DAC0DD2</key>
	<string>uni0D_A_C_0D_D_2.glif</string>
	<key>uni0DAC0DD3</key>
	<string>uni0D_A_C_0D_D_3.glif</string>
	<key>uni0DAD</key>
	<string>uni0D_A_D_.glif</string>
	<key>uni0DAD0DD4</key>
	<string>uni0D_A_D_0D_D_4.glif</string>
	<key>uni0DAE</key>
	<string>uni0D_A_E_.glif</string>
	<key>uni0DAF</key>
	<string>uni0D_A_F_.glif</string>
	<key>uni0DAF.rakar</key>
	<string>uni0D_A_F_.rakar.glif</string>
	<key>uni0DAF0DCF</key>
	<string>uni0D_A_F_0D_C_F_.glif</string>
	<key>uni0DAF0DD4</key>
	<string>uni0D_A_F_0D_D_4.glif</string>
	<key>uni0DAF0DD6</key>
	<string>uni0D_A_F_0D_D_6.glif</string>
	<key>uni0DAF0DD8</key>
	<string>uni0D_A_F_0D_D_8.glif</string>
	<key>uni0DB0</key>
	<string>uni0D_B_0.glif</string>
	<key>uni0DB00DCA</key>
	<string>uni0D_B_00D_C_A_.glif</string>
	<key>uni0DB00DD2</key>
	<string>uni0D_B_00D_D_2.glif</string>
	<key>uni0DB00DD3</key>
	<string>uni0D_B_00D_D_3.glif</string>
	<key>uni0DB1</key>
	<string>uni0D_B_1.glif</string>
	<key>uni0DB3</key>
	<string>uni0D_B_3.glif</string>
	<key>uni0DB3.rakar</key>
	<string>uni0D_B_3.rakar.glif</string>
	<key>uni0DB30DCA200D0DA80DCA</key>
	<string>uni0D_B_30D_C_A_200D_0D_A_80D_C_A_.glif</string>
	<key>uni0DB30DCA200D0DA80DD2</key>
	<string>uni0D_B_30D_C_A_200D_0D_A_80D_D_2.glif</string>
	<key>uni0DB30DCA200D0DA80DD3</key>
	<string>uni0D_B_30D_C_A_200D_0D_A_80D_D_3.glif</string>
	<key>uni0DB30DCA200D0DB00DCA</key>
	<string>uni0D_B_30D_C_A_200D_0D_B_00D_C_A_.glif</string>
	<key>uni0DB30DCA200D0DB00DD2</key>
	<string>uni0D_B_30D_C_A_200D_0D_B_00D_D_2.glif</string>
	<key>uni0DB30DCA200D0DB00DD3</key>
	<string>uni0D_B_30D_C_A_200D_0D_B_00D_D_3.glif</string>
	<key>uni0DB30DCF</key>
	<string>uni0D_B_30D_C_F_.glif</string>
	<key>uni0DB30DD4</key>
	<string>uni0D_B_30D_D_4.glif</string>
	<key>uni0DB30DD6</key>
	<string>uni0D_B_30D_D_6.glif</string>
	<key>uni0DB4</key>
	<string>uni0D_B_4.glif</string>
	<key>uni0DB5</key>
	<string>uni0D_B_5.glif</string>
	<key>uni0DB6</key>
	<string>uni0D_B_6.glif</string>
	<key>uni0DB60DCA</key>
	<string>uni0D_B_60D_C_A_.glif</string>
	<key>uni0DB60DD2</key>
	<string>uni0D_B_60D_D_2.glif</string>
	<key>uni0DB60DD3</key>
	<string>uni0D_B_60D_D_3.glif</string>
	<key>uni0DB7</key>
	<string>uni0D_B_7.glif</string>
	<key>uni0DB70DD4</key>
	<string>uni0D_B_70D_D_4.glif</string>
	<key>uni0DB70DD6</key>
	<string>uni0D_B_70D_D_6.glif</string>
	<key>uni0DB8</key>
	<string>uni0D_B_8.glif</string>
	<key>uni0DB80DCA</key>
	<string>uni0D_B_80D_C_A_.glif</string>
	<key>uni0DB80DD2</key>
	<string>uni0D_B_80D_D_2.glif</string>
	<key>uni0DB80DD3</key>
	<string>uni0D_B_80D_D_3.glif</string>
	<key>uni0DB9</key>
	<string>uni0D_B_9.glif</string>
	<key>uni0DB90DCA</key>
	<string>uni0D_B_90D_C_A_.glif</string>
	<key>uni0DB90DD2</key>
	<string>uni0D_B_90D_D_2.glif</string>
	<key>uni0DB90DD3</key>
	<string>uni0D_B_90D_D_3.glif</string>
	<key>uni0DBA</key>
	<string>uni0D_B_A_.glif</string>
	<key>uni0DBB</key>
	<string>uni0D_B_B_.glif</string>
	<key>uni0DBB0DCA</key>
	<string>uni0D_B_B_0D_C_A_.glif</string>
	<key>uni0DBB0DD0</key>
	<string>uni0D_B_B_0D_D_0.glif</string>
	<key>uni0DBB0DD1</key>
	<string>uni0D_B_B_0D_D_1.glif</string>
	<key>uni0DBD</key>
	<string>uni0D_B_D_.glif</string>
	<key>uni0DBD0DD4</key>
	<string>uni0D_B_D_0D_D_4.glif</string>
	<key>uni0DBD0DD6</key>
	<string>uni0D_B_D_0D_D_6.glif</string>
	<key>uni0DC0</key>
	<string>uni0D_C_0.glif</string>
	<key>uni0DC00DCA</key>
	<string>uni0D_C_00D_C_A_.glif</string>
	<key>uni0DC00DD2</key>
	<string>uni0D_C_00D_D_2.glif</string>
	<key>uni0DC00DD3</key>
	<string>uni0D_C_00D_D_3.glif</string>
	<key>uni0DC1</key>
	<string>uni0D_C_1.glif</string>
	<key>uni0DC10DD2.rakar</key>
	<string>uni0D_C_10D_D_2.rakar.glif</string>
	<key>uni0DC10DD3.rakar</key>
	<string>uni0D_C_10D_D_3.rakar.glif</string>
	<key>uni0DC10DD4</key>
	<string>uni0D_C_10D_D_4.glif</string>
	<key>uni0DC10DD6</key>
	<string>uni0D_C_10D_D_6.glif</string>
	<key>uni0DC2</key>
	<string>uni0D_C_2.glif</string>
	<key>uni0DC3</key>
	<string>uni0D_C_3.glif</string>
	<key>uni0DC4</key>
	<string>uni0D_C_4.glif</string>
	<key>uni0DC5</key>
	<string>uni0D_C_5.glif</string>
	<key>uni0DC50DD4</key>
	<string>uni0D_C_50D_D_4.glif</string>
	<key>uni0DC50DD6</key>
	<string>uni0D_C_50D_D_6.glif</string>
	<key>uni0DC6</key>
	<string>uni0D_C_6.glif</string>
	<key>uni0DCA</key>
	<string>uni0D_C_A_.glif</string>
	<key>uni0DCF</key>
	<string>uni0D_C_F_.glif</string>
	<key>uni0DD0</key>
	<string>uni0D_D_0.glif</string>
	<key>uni0DD1</key>
	<string>uni0D_D_1.glif</string>
	<key>uni0DD2</key>
	<string>uni0D_D_2.glif</string>
	<key>uni0DD3</key>
	<string>uni0D_D_3.glif</string>
	<key>uni0DD4</key>
	<string>uni0D_D_4.glif</string>
	<key>uni0DD6</key>
	<string>uni0D_D_6.glif</string>
	<key>uni0DD8</key>
	<string>uni0D_D_8.glif</string>
	<key>uni0DD9</key>
	<string>uni0D_D_9.glif</string>
	<key>uni0DDA</key>
	<string>uni0D_D_A_.glif</string>
	<key>uni0DDA.sechalf</key>
	<string>uni0D_D_A_.sechalf.glif</string>
	<key>uni0DDB</key>
	<string>uni0D_D_B_.glif</string>
	<key>uni0DDC</key>
	<string>uni0D_D_C_.glif</string>
	<key>uni0DDC.sechalf</key>
	<string>uni0D_D_C_.sechalf.glif</string>
	<key>uni0DDD</key>
	<string>uni0D_D_D_.glif</string>
	<key>uni0DDD.sechalf</key>
	<string>uni0D_D_D_.sechalf.glif</string>
	<key>uni0DDE</key>
	<string>uni0D_D_E_.glif</string>
	<key>uni0DDE.sechalf</key>
	<string>uni0D_D_E_.sechalf.glif</string>
	<key>uni0DDF</key>
	<string>uni0D_D_F_.glif</string>
	<key>uni0DF2</key>
	<string>uni0D_F_2.glif</string>
	<key>uni0DF3</key>
	<string>uni0D_F_3.glif</string>
	<key>uni0DF4</key>
	<string>uni0D_F_4.glif</string>
	<key>uni200C</key>
	<string>uni200C_.glif</string>
	<key>uni200D</key>
	<string>uni200D_.glif</string>
	<key>uni22C6</key>
	<string>uni22C_6.glif</string>
	<key>uni25CC</key>
	<string>uni25C_C_.glif</string>
	<key>uniVra</key>
	<string>uniV_ra.glif</string>
	<key>unidroo</key>
	<string>unidroo.glif</string>
	<key>unimraoo</key>
	<string>unimraoo.glif</string>
	<key>yansaya</key>
	<string>yansaya.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
