<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>Droo</key>
	<string>D_roo.glif</string>
	<key>UniMbra</key>
	<string>U_niM_bra.glif</string>
	<key>_ai</key>
	<string>_ai.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>braoo</key>
	<string>braoo.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>chroo</key>
	<string>chroo.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dottedCircle</key>
	<string>dottedC_ircle.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>kra</key>
	<string>kra.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>rakar</key>
	<string>rakar.glif</string>
	<key>rapaya</key>
	<string>rapaya.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>sinA</key>
	<string>sinA_.glif</string>
	<key>sinAa</key>
	<string>sinA_a.glif</string>
	<key>sinAae</key>
	<string>sinA_ae.glif</string>
	<key>sinAe</key>
	<string>sinA_e.glif</string>
	<key>sinAi</key>
	<string>sinA_i.glif</string>
	<key>sinAnusvara</key>
	<string>sinA_nusvara.glif</string>
	<key>sinAu</key>
	<string>sinA_u.glif</string>
	<key>sinBa</key>
	<string>sinB_a.glif</string>
	<key>sinBha</key>
	<string>sinB_ha.glif</string>
	<key>sinCa</key>
	<string>sinC_a.glif</string>
	<key>sinCha</key>
	<string>sinC_ha.glif</string>
	<key>sinDa</key>
	<string>sinD_a.glif</string>
	<key>sinDa.rakar</key>
	<string>sinD_a.rakar.glif</string>
	<key>sinDda</key>
	<string>sinD_da.glif</string>
	<key>sinDdha</key>
	<string>sinD_dha.glif</string>
	<key>sinDha</key>
	<string>sinD_ha.glif</string>
	<key>sinE</key>
	<string>sinE_.glif</string>
	<key>sinEe</key>
	<string>sinE_e.glif</string>
	<key>sinFa</key>
	<string>sinF_a.glif</string>
	<key>sinGa</key>
	<string>sinG_a.glif</string>
	<key>sinGha</key>
	<string>sinG_ha.glif</string>
	<key>sinHa</key>
	<string>sinH_a.glif</string>
	<key>sinI</key>
	<string>sinI_.glif</string>
	<key>sinIi</key>
	<string>sinI_i.glif</string>
	<key>sinJa</key>
	<string>sinJ_a.glif</string>
	<key>sinJha</key>
	<string>sinJ_ha.glif</string>
	<key>sinJnya</key>
	<string>sinJ_nya.glif</string>
	<key>sinJnya.rakar</key>
	<string>sinJ_nya.rakar.glif</string>
	<key>sinKa</key>
	<string>sinK_a.glif</string>
	<key>sinKha</key>
	<string>sinK_ha.glif</string>
	<key>sinKundaliya</key>
	<string>sinK_undaliya.glif</string>
	<key>sinLa</key>
	<string>sinL_a.glif</string>
	<key>sinLla</key>
	<string>sinL_la.glif</string>
	<key>sinMa</key>
	<string>sinM_a.glif</string>
	<key>sinMatraAa</key>
	<string>sinM_atraA_a.glif</string>
	<key>sinMatraAe</key>
	<string>sinM_atraA_e.glif</string>
	<key>sinMatraAea</key>
	<string>sinM_atraA_ea.glif</string>
	<key>sinMatraAi</key>
	<string>sinM_atraA_i.glif</string>
	<key>sinMatraAu</key>
	<string>sinM_atraA_u.glif</string>
	<key>sinMatraAu.sechalf</key>
	<string>sinM_atraA_u.sechalf.glif</string>
	<key>sinMatraE</key>
	<string>sinM_atraE_.glif</string>
	<key>sinMatraEe</key>
	<string>sinM_atraE_e.glif</string>
	<key>sinMatraEe.sechalf</key>
	<string>sinM_atraE_e.sechalf.glif</string>
	<key>sinMatraI</key>
	<string>sinM_atraI_.glif</string>
	<key>sinMatraIi</key>
	<string>sinM_atraI_i.glif</string>
	<key>sinMatraLl</key>
	<string>sinM_atraL_l.glif</string>
	<key>sinMatraLs</key>
	<string>sinM_atraL_s.glif</string>
	<key>sinMatraO</key>
	<string>sinM_atraO_.glif</string>
	<key>sinMatraO.sechalf</key>
	<string>sinM_atraO_.sechalf.glif</string>
	<key>sinMatraOo</key>
	<string>sinM_atraO_o.glif</string>
	<key>sinMatraOo.sechalf</key>
	<string>sinM_atraO_o.sechalf.glif</string>
	<key>sinMatraR</key>
	<string>sinM_atraR_.glif</string>
	<key>sinMatraRr</key>
	<string>sinM_atraR_r.glif</string>
	<key>sinMatraU</key>
	<string>sinM_atraU_.glif</string>
	<key>sinMatraUu</key>
	<string>sinM_atraU_u.glif</string>
	<key>sinMba</key>
	<string>sinM_ba.glif</string>
	<key>sinNa</key>
	<string>sinN_a.glif</string>
	<key>sinNda</key>
	<string>sinN_da.glif</string>
	<key>sinNda.rakar</key>
	<string>sinN_da.rakar.glif</string>
	<key>sinNdja</key>
	<string>sinN_dja.glif</string>
	<key>sinNga</key>
	<string>sinN_ga.glif</string>
	<key>sinNna</key>
	<string>sinN_na.glif</string>
	<key>sinNndda</key>
	<string>sinN_ndda.glif</string>
	<key>sinNnga</key>
	<string>sinN_nga.glif</string>
	<key>sinNya</key>
	<string>sinN_ya.glif</string>
	<key>sinNya.rakar</key>
	<string>sinN_ya.rakar.glif</string>
	<key>sinO</key>
	<string>sinO_.glif</string>
	<key>sinOo</key>
	<string>sinO_o.glif</string>
	<key>sinPa</key>
	<string>sinP_a.glif</string>
	<key>sinPha</key>
	<string>sinP_ha.glif</string>
	<key>sinRa</key>
	<string>sinR_a.glif</string>
	<key>sinSa</key>
	<string>sinS_a.glif</string>
	<key>sinSha</key>
	<string>sinS_ha.glif</string>
	<key>sinSsa</key>
	<string>sinS_sa.glif</string>
	<key>sinTa</key>
	<string>sinT_a.glif</string>
	<key>sinTha</key>
	<string>sinT_ha.glif</string>
	<key>sinTta</key>
	<string>sinT_ta.glif</string>
	<key>sinTtha</key>
	<string>sinT_tha.glif</string>
	<key>sinU</key>
	<string>sinU_.glif</string>
	<key>sinUu</key>
	<string>sinU_u.glif</string>
	<key>sinVa</key>
	<string>sinV_a.glif</string>
	<key>sinVirama</key>
	<string>sinV_irama.glif</string>
	<key>sinVisarga</key>
	<string>sinV_isarga.glif</string>
	<key>sinYa</key>
	<string>sinY_a.glif</string>
	<key>sinvocalicL</key>
	<string>sinvocalicL_.glif</string>
	<key>sinvocalicLL</key>
	<string>sinvocalicL_L_.glif</string>
	<key>sinvocalicR</key>
	<string>sinvocalicR_.glif</string>
	<key>sinvocalicRr</key>
	<string>sinvocalicR_r.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>troo</key>
	<string>troo.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>uni000D</key>
	<string>uni000D_.glif</string>
	<key>uni0D9A0DCA200D0DC2</key>
	<string>uni0D_9A_0D_C_A_200D_0D_C_2.glif</string>
	<key>uni0D9B0DCA</key>
	<string>uni0D_9B_0D_C_A_.glif</string>
	<key>uni0D9B0DD2</key>
	<string>uni0D_9B_0D_D_2.glif</string>
	<key>uni0D9B0DD3</key>
	<string>uni0D_9B_0D_D_3.glif</string>
	<key>uni0D9C0DD4</key>
	<string>uni0D_9C_0D_D_4.glif</string>
	<key>uni0D9C0DD6</key>
	<string>uni0D_9C_0D_D_6.glif</string>
	<key>uni0D9E0DCA</key>
	<string>uni0D_9E_0D_C_A_.glif</string>
	<key>uni0D9E0DD2</key>
	<string>uni0D_9E_0D_D_2.glif</string>
	<key>uni0D9E0DD3</key>
	<string>uni0D_9E_0D_D_3.glif</string>
	<key>uni0D9F0DD4</key>
	<string>uni0D_9F_0D_D_4.glif</string>
	<key>uni0D9F0DD6</key>
	<string>uni0D_9F_0D_D_6.glif</string>
	<key>uni0DA00DCA</key>
	<string>uni0D_A_00D_C_A_.glif</string>
	<key>uni0DA00DD2</key>
	<string>uni0D_A_00D_D_2.glif</string>
	<key>uni0DA00DD3</key>
	<string>uni0D_A_00D_D_3.glif</string>
	<key>uni0DA10DCA</key>
	<string>uni0D_A_10D_C_A_.glif</string>
	<key>uni0DA20DCA</key>
	<string>uni0D_A_20D_C_A_.glif</string>
	<key>uni0DA40DCF</key>
	<string>uni0D_A_40D_C_F_.glif</string>
	<key>uni0DA40DD4</key>
	<string>uni0D_A_40D_D_4.glif</string>
	<key>uni0DA40DD6</key>
	<string>uni0D_A_40D_D_6.glif</string>
	<key>uni0DA50DCF</key>
	<string>uni0D_A_50D_C_F_.glif</string>
	<key>uni0DA50DD4</key>
	<string>uni0D_A_50D_D_4.glif</string>
	<key>uni0DA50DD6</key>
	<string>uni0D_A_50D_D_6.glif</string>
	<key>uni0DA70DCA</key>
	<string>uni0D_A_70D_C_A_.glif</string>
	<key>uni0DA70DD2</key>
	<string>uni0D_A_70D_D_2.glif</string>
	<key>uni0DA70DD3</key>
	<string>uni0D_A_70D_D_3.glif</string>
	<key>uni0DA80DCA</key>
	<string>uni0D_A_80D_C_A_.glif</string>
	<key>uni0DA80DD2</key>
	<string>uni0D_A_80D_D_2.glif</string>
	<key>uni0DA80DD3</key>
	<string>uni0D_A_80D_D_3.glif</string>
	<key>uni0DA90DCA</key>
	<string>uni0D_A_90D_C_A_.glif</string>
	<key>uni0DA90DD2</key>
	<string>uni0D_A_90D_D_2.glif</string>
	<key>uni0DA90DD3</key>
	<string>uni0D_A_90D_D_3.glif</string>
	<key>uni0DAA0DCA</key>
	<string>uni0D_A_A_0D_C_A_.glif</string>
	<key>uni0DAA0DD2</key>
	<string>uni0D_A_A_0D_D_2.glif</string>
	<key>uni0DAA0DD3</key>
	<string>uni0D_A_A_0D_D_3.glif</string>
	<key>uni0DAC0DCA</key>
	<string>uni0D_A_C_0D_C_A_.glif</string>
	<key>uni0DAC0DD2</key>
	<string>uni0D_A_C_0D_D_2.glif</string>
	<key>uni0DAC0DD3</key>
	<string>uni0D_A_C_0D_D_3.glif</string>
	<key>uni0DAD0DD4</key>
	<string>uni0D_A_D_0D_D_4.glif</string>
	<key>uni0DAF0DCF</key>
	<string>uni0D_A_F_0D_C_F_.glif</string>
	<key>uni0DAF0DD4</key>
	<string>uni0D_A_F_0D_D_4.glif</string>
	<key>uni0DAF0DD6</key>
	<string>uni0D_A_F_0D_D_6.glif</string>
	<key>uni0DAF0DD8</key>
	<string>uni0D_A_F_0D_D_8.glif</string>
	<key>uni0DB00DCA</key>
	<string>uni0D_B_00D_C_A_.glif</string>
	<key>uni0DB00DD2</key>
	<string>uni0D_B_00D_D_2.glif</string>
	<key>uni0DB00DD3</key>
	<string>uni0D_B_00D_D_3.glif</string>
	<key>uni0DB30DCA200D0DA80DCA</key>
	<string>uni0D_B_30D_C_A_200D_0D_A_80D_C_A_.glif</string>
	<key>uni0DB30DCA200D0DA80DD2</key>
	<string>uni0D_B_30D_C_A_200D_0D_A_80D_D_2.glif</string>
	<key>uni0DB30DCA200D0DA80DD3</key>
	<string>uni0D_B_30D_C_A_200D_0D_A_80D_D_3.glif</string>
	<key>uni0DB30DCA200D0DB00DCA</key>
	<string>uni0D_B_30D_C_A_200D_0D_B_00D_C_A_.glif</string>
	<key>uni0DB30DCA200D0DB00DD2</key>
	<string>uni0D_B_30D_C_A_200D_0D_B_00D_D_2.glif</string>
	<key>uni0DB30DCA200D0DB00DD3</key>
	<string>uni0D_B_30D_C_A_200D_0D_B_00D_D_3.glif</string>
	<key>uni0DB30DCF</key>
	<string>uni0D_B_30D_C_F_.glif</string>
	<key>uni0DB30DD4</key>
	<string>uni0D_B_30D_D_4.glif</string>
	<key>uni0DB30DD6</key>
	<string>uni0D_B_30D_D_6.glif</string>
	<key>uni0DB60DCA</key>
	<string>uni0D_B_60D_C_A_.glif</string>
	<key>uni0DB60DD2</key>
	<string>uni0D_B_60D_D_2.glif</string>
	<key>uni0DB60DD3</key>
	<string>uni0D_B_60D_D_3.glif</string>
	<key>uni0DB70DD4</key>
	<string>uni0D_B_70D_D_4.glif</string>
	<key>uni0DB70DD6</key>
	<string>uni0D_B_70D_D_6.glif</string>
	<key>uni0DB80DCA</key>
	<string>uni0D_B_80D_C_A_.glif</string>
	<key>uni0DB80DD2</key>
	<string>uni0D_B_80D_D_2.glif</string>
	<key>uni0DB80DD3</key>
	<string>uni0D_B_80D_D_3.glif</string>
	<key>uni0DB90DCA</key>
	<string>uni0D_B_90D_C_A_.glif</string>
	<key>uni0DB90DD2</key>
	<string>uni0D_B_90D_D_2.glif</string>
	<key>uni0DB90DD3</key>
	<string>uni0D_B_90D_D_3.glif</string>
	<key>uni0DBB0DCA</key>
	<string>uni0D_B_B_0D_C_A_.glif</string>
	<key>uni0DBB0DD0</key>
	<string>uni0D_B_B_0D_D_0.glif</string>
	<key>uni0DBB0DD1</key>
	<string>uni0D_B_B_0D_D_1.glif</string>
	<key>uni0DBD0DD4</key>
	<string>uni0D_B_D_0D_D_4.glif</string>
	<key>uni0DBD0DD6</key>
	<string>uni0D_B_D_0D_D_6.glif</string>
	<key>uni0DC00DCA</key>
	<string>uni0D_C_00D_C_A_.glif</string>
	<key>uni0DC00DD2</key>
	<string>uni0D_C_00D_D_2.glif</string>
	<key>uni0DC00DD3</key>
	<string>uni0D_C_00D_D_3.glif</string>
	<key>uni0DC10DD2.rakar</key>
	<string>uni0D_C_10D_D_2.rakar.glif</string>
	<key>uni0DC10DD3.rakar</key>
	<string>uni0D_C_10D_D_3.rakar.glif</string>
	<key>uni0DC10DD4</key>
	<string>uni0D_C_10D_D_4.glif</string>
	<key>uni0DC10DD6</key>
	<string>uni0D_C_10D_D_6.glif</string>
	<key>uni0DC50DD4</key>
	<string>uni0D_C_50D_D_4.glif</string>
	<key>uni0DC50DD6</key>
	<string>uni0D_C_50D_D_6.glif</string>
	<key>uni22C6</key>
	<string>uni22C_6.glif</string>
	<key>uniVra</key>
	<string>uniV_ra.glif</string>
	<key>unidroo</key>
	<string>unidroo.glif</string>
	<key>unimraoo</key>
	<string>unimraoo.glif</string>
	<key>yansaya</key>
	<string>yansaya.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
