<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>NULL</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>_i.part</key>
	<string>_i.part.glif</string>
	<key>_ii.part</key>
	<string>_ii.part.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>approxequal.osf</key>
	<string>approxequal.osf.glif</string>
	<key>approxequal.tf</key>
	<string>approxequal.tf.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asciitilde.osf</key>
	<string>asciitilde.osf.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>divide.osf</key>
	<string>divide.osf.glif</string>
	<key>divide.tf</key>
	<string>divide.tf.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dottedCircle</key>
	<string>dottedC_ircle.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>equal.osf</key>
	<string>equal.osf.glif</string>
	<key>equal.tf</key>
	<string>equal.tf.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greater.osf</key>
	<string>greater.osf.glif</string>
	<key>greater.tf</key>
	<string>greater.tf.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>greaterequal.osf</key>
	<string>greaterequal.osf.glif</string>
	<key>greaterequal.tf</key>
	<string>greaterequal.tf.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>less.osf</key>
	<string>less.osf.glif</string>
	<key>less.tf</key>
	<string>less.tf.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lessequal.osf</key>
	<string>lessequal.osf.glif</string>
	<key>lessequal.tf</key>
	<string>lessequal.tf.glif</string>
	<key>logicalnot.osf</key>
	<string>logicalnot.osf.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>minus.osf</key>
	<string>minus.osf.glif</string>
	<key>minus.tf</key>
	<string>minus.tf.glif</string>
	<key>mooniak</key>
	<string>mooniak.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>multiply.osf</key>
	<string>multiply.osf.glif</string>
	<key>multiply.tf</key>
	<string>multiply.tf.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>notequal.osf</key>
	<string>notequal.osf.glif</string>
	<key>notequal.tf</key>
	<string>notequal.tf.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plus.osf</key>
	<string>plus.osf.glif</string>
	<key>plus.tf</key>
	<string>plus.tf.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>plusminus.osf</key>
	<string>plusminus.osf.glif</string>
	<key>plusminus.tf</key>
	<string>plusminus.tf.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>sinA</key>
	<string>sinA_.glif</string>
	<key>sinAa</key>
	<string>sinA_a.glif</string>
	<key>sinAae</key>
	<string>sinA_ae.glif</string>
	<key>sinAe</key>
	<string>sinA_e.glif</string>
	<key>sinAi</key>
	<string>sinA_i.glif</string>
	<key>sinAnusvara</key>
	<string>sinA_nusvara.glif</string>
	<key>sinAu</key>
	<string>sinA_u.glif</string>
	<key>sinBI</key>
	<string>sinB_I_.glif</string>
	<key>sinBIi</key>
	<string>sinB_I_i.glif</string>
	<key>sinBa</key>
	<string>sinB_a.glif</string>
	<key>sinBha</key>
	<string>sinB_ha.glif</string>
	<key>sinCI</key>
	<string>sinC_I_.glif</string>
	<key>sinCIi</key>
	<string>sinC_I_i.glif</string>
	<key>sinCa</key>
	<string>sinC_a.glif</string>
	<key>sinCha</key>
	<string>sinC_ha.glif</string>
	<key>sinDU</key>
	<string>sinD_U_.glif</string>
	<key>sinDUu</key>
	<string>sinD_U_u.glif</string>
	<key>sinDa</key>
	<string>sinD_a.glif</string>
	<key>sinDa.rakar</key>
	<string>sinD_a.rakar.glif</string>
	<key>sinDdI</key>
	<string>sinD_dI_.glif</string>
	<key>sinDdIi</key>
	<string>sinD_dI_i.glif</string>
	<key>sinDda</key>
	<string>sinD_da.glif</string>
	<key>sinDdha</key>
	<string>sinD_dha.glif</string>
	<key>sinDhI</key>
	<string>sinD_hI_.glif</string>
	<key>sinDhIi</key>
	<string>sinD_hI_i.glif</string>
	<key>sinDha</key>
	<string>sinD_ha.glif</string>
	<key>sinE</key>
	<string>sinE_.glif</string>
	<key>sinEe</key>
	<string>sinE_e.glif</string>
	<key>sinEightlith</key>
	<string>sinE_ightlith.glif</string>
	<key>sinFa</key>
	<string>sinF_a.glif</string>
	<key>sinFivelith</key>
	<string>sinF_ivelith.glif</string>
	<key>sinFourlith</key>
	<string>sinF_ourlith.glif</string>
	<key>sinGa</key>
	<string>sinG_a.glif</string>
	<key>sinGha</key>
	<string>sinG_ha.glif</string>
	<key>sinHa</key>
	<string>sinH_a.glif</string>
	<key>sinI</key>
	<string>sinI_.glif</string>
	<key>sinIi</key>
	<string>sinI_i.glif</string>
	<key>sinJa</key>
	<string>sinJ_a.glif</string>
	<key>sinJhI</key>
	<string>sinJ_hI_.glif</string>
	<key>sinJhIi</key>
	<string>sinJ_hI_i.glif</string>
	<key>sinJha</key>
	<string>sinJ_ha.glif</string>
	<key>sinJnyU</key>
	<string>sinJ_nyU_.glif</string>
	<key>sinJnyUu</key>
	<string>sinJ_nyU_u.glif</string>
	<key>sinJnya</key>
	<string>sinJ_nya.glif</string>
	<key>sinKa</key>
	<string>sinK_a.glif</string>
	<key>sinKa.half</key>
	<string>sinK_a.half.glif</string>
	<key>sinKhI</key>
	<string>sinK_hI_.glif</string>
	<key>sinKhIi</key>
	<string>sinK_hI_i.glif</string>
	<key>sinKha</key>
	<string>sinK_ha.glif</string>
	<key>sinKundaliya</key>
	<string>sinK_undaliya.glif</string>
	<key>sinLU</key>
	<string>sinL_U_.glif</string>
	<key>sinLUu</key>
	<string>sinL_U_u.glif</string>
	<key>sinLa</key>
	<string>sinL_a.glif</string>
	<key>sinLlU</key>
	<string>sinL_lU_.glif</string>
	<key>sinLla</key>
	<string>sinL_la.glif</string>
	<key>sinMI</key>
	<string>sinM_I_.glif</string>
	<key>sinMIi</key>
	<string>sinM_I_i.glif</string>
	<key>sinMa</key>
	<string>sinM_a.glif</string>
	<key>sinMatraAa</key>
	<string>sinM_atraA_a.glif</string>
	<key>sinMatraAae</key>
	<string>sinM_atraA_ae.glif</string>
	<key>sinMatraAe</key>
	<string>sinM_atraA_e.glif</string>
	<key>sinMatraAi</key>
	<string>sinM_atraA_i.glif</string>
	<key>sinMatraAu</key>
	<string>sinM_atraA_u.glif</string>
	<key>sinMatraAu.sechalf</key>
	<string>sinM_atraA_u.sechalf.glif</string>
	<key>sinMatraE</key>
	<string>sinM_atraE_.glif</string>
	<key>sinMatraEe</key>
	<string>sinM_atraE_e.glif</string>
	<key>sinMatraEe.sechalf</key>
	<string>sinM_atraE_e.sechalf.glif</string>
	<key>sinMatraI</key>
	<string>sinM_atraI_.glif</string>
	<key>sinMatraI.alt</key>
	<string>sinM_atraI_.alt.glif</string>
	<key>sinMatraI.alt1</key>
	<string>sinM_atraI_.alt1.glif</string>
	<key>sinMatraI.alt2</key>
	<string>sinM_atraI_.alt2.glif</string>
	<key>sinMatraI.empty</key>
	<string>sinM_atraI_.empty.glif</string>
	<key>sinMatraIi</key>
	<string>sinM_atraI_i.glif</string>
	<key>sinMatraIi.alt</key>
	<string>sinM_atraI_i.alt.glif</string>
	<key>sinMatraIi.alt1</key>
	<string>sinM_atraI_i.alt1.glif</string>
	<key>sinMatraIi.alt2</key>
	<string>sinM_atraI_i.alt2.glif</string>
	<key>sinMatraIi.empty</key>
	<string>sinM_atraI_i.empty.glif</string>
	<key>sinMatraLl</key>
	<string>sinM_atraL_l.glif</string>
	<key>sinMatraLs</key>
	<string>sinM_atraL_s.glif</string>
	<key>sinMatraO</key>
	<string>sinM_atraO_.glif</string>
	<key>sinMatraO.sechalf</key>
	<string>sinM_atraO_.sechalf.glif</string>
	<key>sinMatraOo</key>
	<string>sinM_atraO_o.glif</string>
	<key>sinMatraOo.sechalf</key>
	<string>sinM_atraO_o.sechalf.glif</string>
	<key>sinMatraR</key>
	<string>sinM_atraR_.glif</string>
	<key>sinMatraRr</key>
	<string>sinM_atraR_r.glif</string>
	<key>sinMatraU</key>
	<string>sinM_atraU_.glif</string>
	<key>sinMatraU.alt</key>
	<string>sinM_atraU_.alt.glif</string>
	<key>sinMatraUu</key>
	<string>sinM_atraU_u.glif</string>
	<key>sinMatraUu.alt</key>
	<string>sinM_atraU_u.alt.glif</string>
	<key>sinMbI</key>
	<string>sinM_bI_.glif</string>
	<key>sinMbIi</key>
	<string>sinM_bI_i.glif</string>
	<key>sinMba</key>
	<string>sinM_ba.glif</string>
	<key>sinNa</key>
	<string>sinN_a.glif</string>
	<key>sinNa.half</key>
	<string>sinN_a.half.glif</string>
	<key>sinNdU</key>
	<string>sinN_dU_.glif</string>
	<key>sinNdUu</key>
	<string>sinN_dU_u.glif</string>
	<key>sinNda</key>
	<string>sinN_da.glif</string>
	<key>sinNda.rakar</key>
	<string>sinN_da.rakar.glif</string>
	<key>sinNdja</key>
	<string>sinN_dja.glif</string>
	<key>sinNgI</key>
	<string>sinN_gI_.glif</string>
	<key>sinNgIi</key>
	<string>sinN_gI_i.glif</string>
	<key>sinNga</key>
	<string>sinN_ga.glif</string>
	<key>sinNinelith</key>
	<string>sinN_inelith.glif</string>
	<key>sinNna</key>
	<string>sinN_na.glif</string>
	<key>sinNnddI</key>
	<string>sinN_nddI_.glif</string>
	<key>sinNnddIi</key>
	<string>sinN_nddI_i.glif</string>
	<key>sinNndda</key>
	<string>sinN_ndda.glif</string>
	<key>sinNnga</key>
	<string>sinN_nga.glif</string>
	<key>sinNyU</key>
	<string>sinN_yU_.glif</string>
	<key>sinNyUu</key>
	<string>sinN_yU_u.glif</string>
	<key>sinNya</key>
	<string>sinN_ya.glif</string>
	<key>sinO</key>
	<string>sinO_.glif</string>
	<key>sinOnelith</key>
	<string>sinO_nelith.glif</string>
	<key>sinOo</key>
	<string>sinO_o.glif</string>
	<key>sinPa</key>
	<string>sinP_a.glif</string>
	<key>sinPha</key>
	<string>sinP_ha.glif</string>
	<key>sinRAae</key>
	<string>sinR_A_ae.glif</string>
	<key>sinRAe</key>
	<string>sinR_A_e.glif</string>
	<key>sinRI</key>
	<string>sinR_I_.glif</string>
	<key>sinRIi</key>
	<string>sinR_I_i.glif</string>
	<key>sinRa</key>
	<string>sinR_a.glif</string>
	<key>sinRakar</key>
	<string>sinR_akar.glif</string>
	<key>sinReph</key>
	<string>sinR_eph.glif</string>
	<key>sinSa</key>
	<string>sinS_a.glif</string>
	<key>sinSevenlith</key>
	<string>sinS_evenlith.glif</string>
	<key>sinShRIi</key>
	<string>sinS_hR_I_i.glif</string>
	<key>sinSha</key>
	<string>sinS_ha.glif</string>
	<key>sinSixlith</key>
	<string>sinS_ixlith.glif</string>
	<key>sinSsa</key>
	<string>sinS_sa.glif</string>
	<key>sinTa</key>
	<string>sinT_a.glif</string>
	<key>sinTa.half</key>
	<string>sinT_a.half.glif</string>
	<key>sinTha</key>
	<string>sinT_ha.glif</string>
	<key>sinThreelith</key>
	<string>sinT_hreelith.glif</string>
	<key>sinTtI</key>
	<string>sinT_tI_.glif</string>
	<key>sinTtIi</key>
	<string>sinT_tI_i.glif</string>
	<key>sinTta</key>
	<string>sinT_ta.glif</string>
	<key>sinTtha</key>
	<string>sinT_tha.glif</string>
	<key>sinTwolith</key>
	<string>sinT_wolith.glif</string>
	<key>sinU</key>
	<string>sinU_.glif</string>
	<key>sinUu</key>
	<string>sinU_u.glif</string>
	<key>sinVI</key>
	<string>sinV_I_.glif</string>
	<key>sinVIi</key>
	<string>sinV_I_i.glif</string>
	<key>sinVa</key>
	<string>sinV_a.glif</string>
	<key>sinVirama</key>
	<string>sinV_irama.glif</string>
	<key>sinVirama.alt</key>
	<string>sinV_irama.alt.glif</string>
	<key>sinVirama.attatch</key>
	<string>sinV_irama.attatch.glif</string>
	<key>sinVirama.touch</key>
	<string>sinV_irama.touch.glif</string>
	<key>sinVisarga</key>
	<string>sinV_isarga.glif</string>
	<key>sinVocalicR</key>
	<string>sinV_ocalicR_.glif</string>
	<key>sinVocalicRr</key>
	<string>sinV_ocalicR_r.glif</string>
	<key>sinVocalicl</key>
	<string>sinV_ocalicl.glif</string>
	<key>sinVocalicll</key>
	<string>sinV_ocalicll.glif</string>
	<key>sinYa</key>
	<string>sinY_a.glif</string>
	<key>sinYa.post</key>
	<string>sinY_a.post.glif</string>
	<key>sinZerolith</key>
	<string>sinZ_erolith.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni0DB30DCA200D0DA8</key>
	<string>uni0D_B_30D_C_A_200D_0D_A_8.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uni2215.tf</key>
	<string>uni2215.tf.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uni2219.osf</key>
	<string>uni2219.osf.glif</string>
	<key>uni2219.tf</key>
	<string>uni2219.tf.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
	<key>zerowidthnonjoiner</key>
	<string>zerowidthnonjoiner.glif</string>
</dict>
</plist>
