<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
	</array>
	<key>@MMK_L_AE</key>
	<array>
		<string>E</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
		<string>three</string>
		<string>eight</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>Q</string>
		<string>zero</string>
		<string>nine</string>
		<string>parenright</string>
		<string>at</string>
		<string>copyright</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>M</string>
		<string>N</string>
		<string>one</string>
		<string>bracketright</string>
		<string>paragraph</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>dollar</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>seven</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
	</array>
	<key>@MMK_L_ae</key>
	<array>
		<string>e</string>
	</array>
	<key>@MMK_L_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_b</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>p</string>
	</array>
	<key>@MMK_L_braceleft</key>
	<array>
		<string>bracketleft</string>
		<string>parenleft</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
	</array>
	<key>@MMK_L_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>underscore</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d</string>
		<string>i</string>
		<string>j</string>
		<string>l</string>
		<string>exclam</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_five</key>
	<array>
		<string>five</string>
	</array>
	<key>@MMK_L_four</key>
	<array>
		<string>four</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>q</string>
		<string>u</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
	</array>
	<key>@MMK_L_multiply</key>
	<array>
		<string>multiply</string>
		<string>equal</string>
		<string>notequal</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
	</array>
	<key>@MMK_L_multiply.osf</key>
	<array>
		<string>multiply.osf</string>
		<string>equal.osf</string>
		<string>notequal.osf</string>
		<string>less.osf</string>
		<string>greaterequal.osf</string>
		<string>lessequal.osf</string>
		<string>plusminus.osf</string>
		<string>approxequal.osf</string>
	</array>
	<key>@MMK_L_periodcentered</key>
	<array>
		<string>hyphen</string>
		<string>uni2219.osf</string>
		<string>plus.osf</string>
		<string>minus.osf</string>
		<string>divide.osf</string>
		<string>greater.osf</string>
		<string>asciitilde.osf</string>
	</array>
	<key>@MMK_L_question</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_L_quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_L_six</key>
	<array>
		<string>six</string>
	</array>
	<key>@MMK_L_slash</key>
	<array>
		<string>slash</string>
		<string>uni2215</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_L_trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>@MMK_L_two</key>
	<array>
		<string>two</string>
	</array>
	<key>@MMK_L_uni01F1</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_L_uni01F2</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_L_uni2219</key>
	<array>
		<string>plus</string>
		<string>minus</string>
		<string>divide</string>
		<string>greater</string>
		<string>asciitilde</string>
		<string>uni2219</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
	</array>
	<key>@MMK_R_B</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>bracketleft</string>
	</array>
	<key>@MMK_R_C</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>zero</string>
		<string>six</string>
		<string>parenleft</string>
		<string>at</string>
		<string>copyright</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>dollar</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>i</string>
		<string>k</string>
		<string>l</string>
		<string>exclam</string>
	</array>
	<key>@MMK_R_braceright</key>
	<array>
		<string>bracketright</string>
		<string>parenright</string>
	</array>
	<key>@MMK_R_c</key>
	<array>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>g</string>
		<string>o</string>
		<string>q</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
	</array>
	<key>@MMK_R_comma</key>
	<array>
		<string>comma</string>
		<string>period</string>
		<string>underscore</string>
	</array>
	<key>@MMK_R_dotlessi</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>r</string>
	</array>
	<key>@MMK_R_eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>t</string>
	</array>
	<key>@MMK_R_five</key>
	<array>
		<string>five</string>
	</array>
	<key>@MMK_R_four</key>
	<array>
		<string>four</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_R_multiply</key>
	<array>
		<string>multiply</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
	</array>
	<key>@MMK_R_multiply.osf</key>
	<array>
		<string>multiply.osf</string>
		<string>equal.osf</string>
		<string>notequal.osf</string>
		<string>greater.osf</string>
		<string>greaterequal.osf</string>
		<string>lessequal.osf</string>
		<string>plusminus.osf</string>
		<string>approxequal.osf</string>
	</array>
	<key>@MMK_R_nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>@MMK_R_one</key>
	<array>
		<string>one</string>
	</array>
	<key>@MMK_R_ordfeminine</key>
	<array>
		<string>registered</string>
	</array>
	<key>@MMK_R_periodcentered</key>
	<array>
		<string>hyphen</string>
		<string>uni2219.osf</string>
		<string>plus.osf</string>
		<string>minus.osf</string>
		<string>divide.osf</string>
		<string>less.osf</string>
		<string>asciitilde.osf</string>
		<string>logicalnot.osf</string>
	</array>
	<key>@MMK_R_question</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_R_quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_R_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>slash</string>
		<string>uni2215</string>
	</array>
	<key>@MMK_R_three</key>
	<array>
		<string>three</string>
	</array>
	<key>@MMK_R_trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>@MMK_R_two</key>
	<array>
		<string>two</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
	</array>
	<key>@MMK_R_uni2219</key>
	<array>
		<string>plus</string>
		<string>minus</string>
		<string>divide</string>
		<string>less</string>
		<string>asciitilde</string>
		<string>uni2219</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
	</array>
</dict>
</plist>
