<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>902E803C-EB75-4CF8-B2E0-AD6A3AB6F03E</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>org.unifiedfontobject.normalizer.modTimes</key>
	<string>version: 0.3.3.dev0
1513068804.0 fontinfo.plist
1513068804.0 groups.plist
1513068804.0 metainfo.plist</string>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>uni0DB30DCA200D0DA8</string>
		<string>sinA</string>
		<string>sinAa</string>
		<string>sinAae</string>
		<string>sinAe</string>
		<string>sinAi</string>
		<string>sinAu</string>
		<string>sinBa</string>
		<string>sinBha</string>
		<string>sinCa</string>
		<string>sinCha</string>
		<string>sinDa</string>
		<string>sinDda</string>
		<string>sinDdha</string>
		<string>sinDha</string>
		<string>sinE</string>
		<string>sinEe</string>
		<string>sinFa</string>
		<string>sinGa</string>
		<string>sinGha</string>
		<string>sinHa</string>
		<string>sinI</string>
		<string>sinIi</string>
		<string>sinJa</string>
		<string>sinJha</string>
		<string>sinJnya</string>
		<string>sinKa</string>
		<string>sinKha</string>
		<string>sinLa</string>
		<string>sinLla</string>
		<string>sinMa</string>
		<string>sinMba</string>
		<string>sinNa</string>
		<string>sinNda</string>
		<string>sinNdja</string>
		<string>sinNga</string>
		<string>sinNna</string>
		<string>sinNndda</string>
		<string>sinNnga</string>
		<string>sinNya</string>
		<string>sinO</string>
		<string>sinOo</string>
		<string>sinPa</string>
		<string>sinPha</string>
		<string>sinRa</string>
		<string>sinSa</string>
		<string>sinSha</string>
		<string>sinSsa</string>
		<string>sinTa</string>
		<string>sinTha</string>
		<string>sinTta</string>
		<string>sinTtha</string>
		<string>sinU</string>
		<string>sinUu</string>
		<string>sinVa</string>
		<string>sinVocalicR</string>
		<string>sinVocalicRr</string>
		<string>sinVocalicl</string>
		<string>sinVocalicll</string>
		<string>sinYa</string>
		<string>sinDa.rakar</string>
		<string>sinKa.half</string>
		<string>sinNa.half</string>
		<string>sinNda.rakar</string>
		<string>sinTa.half</string>
		<string>sinYa.post</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>sinZerolith</string>
		<string>sinOnelith</string>
		<string>sinTwolith</string>
		<string>sinThreelith</string>
		<string>sinFourlith</string>
		<string>sinFivelith</string>
		<string>sinSixlith</string>
		<string>sinSevenlith</string>
		<string>sinEightlith</string>
		<string>sinNinelith</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>colon</string>
		<string>comma</string>
		<string>exclam</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>hyphen</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>sinKundaliya</string>
		<string>space</string>
		<string>nbspace</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>dollar</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>percent</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>uni2219.osf</string>
		<string>plus.osf</string>
		<string>minus.osf</string>
		<string>multiply.osf</string>
		<string>divide.osf</string>
		<string>equal.osf</string>
		<string>notequal.osf</string>
		<string>greater.osf</string>
		<string>less.osf</string>
		<string>greaterequal.osf</string>
		<string>lessequal.osf</string>
		<string>plusminus.osf</string>
		<string>approxequal.osf</string>
		<string>asciitilde.osf</string>
		<string>logicalnot.osf</string>
		<string>uni2219.tf</string>
		<string>uni2215.tf</string>
		<string>plus.tf</string>
		<string>minus.tf</string>
		<string>multiply.tf</string>
		<string>divide.tf</string>
		<string>equal.tf</string>
		<string>notequal.tf</string>
		<string>greater.tf</string>
		<string>less.tf</string>
		<string>greaterequal.tf</string>
		<string>lessequal.tf</string>
		<string>plusminus.tf</string>
		<string>approxequal.tf</string>
		<string>dottedCircle</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>brokenbar</string>
		<string>asciicircum</string>
		<string>grave</string>
		<string>sinMatraI</string>
		<string>sinMatraIi</string>
		<string>sinMatraU</string>
		<string>sinMatraUu</string>
		<string>sinVirama</string>
		<string>sinMatraI.alt</string>
		<string>sinMatraI.alt1</string>
		<string>sinMatraI.alt2</string>
		<string>sinMatraI.empty</string>
		<string>sinMatraIi.alt</string>
		<string>sinMatraIi.alt1</string>
		<string>sinMatraIi.alt2</string>
		<string>sinMatraIi.empty</string>
		<string>sinMatraU.alt</string>
		<string>sinMatraUu.alt</string>
		<string>sinVirama.alt</string>
		<string>sinVirama.attatch</string>
		<string>sinVirama.touch</string>
		<string>sinAnusvara</string>
		<string>sinMatraAa</string>
		<string>sinMatraAae</string>
		<string>sinMatraAe</string>
		<string>sinMatraAi</string>
		<string>sinMatraAu</string>
		<string>sinMatraE</string>
		<string>sinMatraEe</string>
		<string>sinMatraLl</string>
		<string>sinMatraLs</string>
		<string>sinMatraO</string>
		<string>sinMatraOo</string>
		<string>sinMatraR</string>
		<string>sinMatraRr</string>
		<string>sinVisarga</string>
		<string>sinMatraAu.sechalf</string>
		<string>sinMatraEe.sechalf</string>
		<string>sinMatraO.sechalf</string>
		<string>sinMatraOo.sechalf</string>
		<string>_i.part</string>
		<string>_ii.part</string>
		<string>mooniak</string>
		<string>sinBI</string>
		<string>sinBIi</string>
		<string>sinCI</string>
		<string>sinCIi</string>
		<string>sinDdI</string>
		<string>sinDhI</string>
		<string>sinDdIi</string>
		<string>sinDhIi</string>
		<string>sinDU</string>
		<string>sinDUu</string>
		<string>sinJhI</string>
		<string>sinJhIi</string>
		<string>sinJnyU</string>
		<string>sinJnyUu</string>
		<string>sinKhI</string>
		<string>sinKhIi</string>
		<string>sinLlU</string>
		<string>sinLU</string>
		<string>sinLUu</string>
		<string>sinMbIi</string>
		<string>sinMI</string>
		<string>sinMbI</string>
		<string>sinMIi</string>
		<string>sinNdU</string>
		<string>sinNdUu</string>
		<string>sinNgI</string>
		<string>sinNgIi</string>
		<string>sinNnddI</string>
		<string>sinNnddIi</string>
		<string>sinNyU</string>
		<string>sinNyUu</string>
		<string>sinRAae</string>
		<string>sinRAe</string>
		<string>sinRakar</string>
		<string>sinReph</string>
		<string>sinShRIi</string>
		<string>sinTtIi</string>
		<string>sinTtI</string>
		<string>sinVI</string>
		<string>sinVIi</string>
		<string>sinRI</string>
		<string>sinRIi</string>
		<string>NULL</string>
		<string>euro</string>
	</array>
</dict>
</plist>
