{
.appVersion = "3513";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
},
{
name = Width;
tag = wdth;
}
);
customParameters = (
{
name = glyphOrder;
value = (
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
"a-sinh",
"aa-sinh",
"aae-sinh",
"ae-sinh",
"ai-sinh",
"au-sinh",
"ba-sinh",
"bha-sinh",
"ca-sinh",
"cha-sinh",
"da-sinh",
"dda-sinh",
"ddha-sinh",
"dha-sinh",
"e-sinh",
"ee-sinh",
"fa-sinh",
"ga-sinh",
"gha-sinh",
"ha-sinh",
"i-sinh",
"ii-sinh",
"ja-sinh",
"jha-sinh",
"jnya-sinh",
"ka-sinh",
"kha-sinh",
"la-sinh",
"lla-sinh",
"ma-sinh",
"mba-sinh",
"na-sinh",
"nda-sinh",
"nyja-sinh",
"nga-sinh",
"nna-sinh",
"nndda-sinh",
"nnga-sinh",
"nya-sinh",
"o-sinh",
"oo-sinh",
"pa-sinh",
"pha-sinh",
"ra-sinh",
"sa-sinh",
"sha-sinh",
"ssa-sinh",
"ta-sinh",
"tha-sinh",
"tta-sinh",
"ttha-sinh",
"u-sinh",
"uu-sinh",
"va-sinh",
"vocalicr-sinh",
"vocalicrr-sinh",
"vocalicl-sinh",
"vocalicll-sinh",
"ya-sinh",
"da-sinh.rakar",
"ka-sinh.half",
"na-sinh.half",
"nda-sinh.rakar",
"ta-sinh.half",
"yasign-sinh",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
"lithzero-sinh",
"lithone-sinh",
"lithtwo-sinh",
"liththree-sinh",
"lithfour-sinh",
"lithfive-sinh",
"lithsix-sinh",
"lithseven-sinh",
"litheight-sinh",
"lithnine-sinh",
period,
comma,
colon,
semicolon,
exclam,
question,
periodcentered,
asterisk,
numbersign,
slash,
backslash,
parenleft,
parenright,
bracketleft,
bracketright,
hyphen,
underscore,
guillemetleft,
guillemetright,
quotedbl,
quotesingle,
kunddaliya,
space,
nbspace,
zerowidthjoiner,
zerowidthnonjoiner,
CR,
.notdef,
.null,
dollar,
euro,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
asciicircum,
percent,
uni2215,
uni2219,
uni2219.osf,
plus.osf,
minus.osf,
multiply.osf,
divide.osf,
equal.osf,
notequal.osf,
greater.osf,
less.osf,
greaterequal.osf,
lessequal.osf,
plusminus.osf,
approxequal.osf,
asciitilde.osf,
logicalnot.osf,
uni2219.tf,
uni2215.tf,
plus.tf,
minus.tf,
multiply.tf,
divide.tf,
equal.tf,
notequal.tf,
greater.tf,
less.tf,
greaterequal.tf,
lessequal.tf,
plusminus.tf,
approxequal.tf,
dottedCircle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
brokenbar,
grave,
"anusvaraya-sinh",
"aasign-sinh",
"aaesign-sinh",
"aesign-sinh",
"aisign-sinh",
"ausign-sinh",
"esign-sinh",
"eesign-sinh",
"isign-sinh",
"iisign-sinh",
"vocaliclsign-sinh",
"vocalicllsign-sinh",
"osign-sinh",
"oosign-sinh",
"vocalicrsign-sinh",
"vocalicrrsign-sinh",
"usign-sinh",
"uusign-sinh",
"virama-sinh",
"visargaya-sinh",
"ausign-sinh.sechalf",
"eesign-sinh.sechalf",
"isign-sinh.alt",
"isign-sinh.alt1",
"isign-sinh.alt2",
"isign-sinh.empty",
"iisign-sinh.alt",
"iisign-sinh.alt1",
"iisign-sinh.alt2",
"iisign-sinh.empty",
"osign-sinh.sechalf",
"oosign-sinh.sechalf",
"usign-sinh.alt",
"uusign-sinh.alt",
"virama-sinh.alt",
"virama-sinh.touch",
"r-sinh",
_i.part,
_ii.part,
mooniak,
"bI-sinh",
"bIi-sinh",
"cI-sinh",
"cIi-sinh",
"ddI-sinh",
"dhI-sinh",
"ddIi-sinh",
"dhIi-sinh",
"dU-sinh",
"dUu-sinh",
"jhI-sinh",
"jhIi-sinh",
"jnyU-sinh",
"jnyUu-sinh",
"khI-sinh",
"khIi-sinh",
"llU-sinh",
"lU-sinh",
"lUu-sinh",
"mbIi-sinh",
"mI-sinh",
"mbI-sinh",
"mIi-sinh",
"ndU-sinh",
"ndUu-sinh",
"ngI-sinh",
"ngIi-sinh",
"nnddI-sinh",
"nnddIi-sinh",
"nyU-sinh",
"nyUu-sinh",
"rAae-sinh",
"rAe-sinh",
"rasign-sinh",
"repha-sinh",
"shRIi-sinh",
"ttIi-sinh",
"ttI-sinh",
"vI-sinh",
"vIi-sinh",
"rI-sinh",
"rIi-sinh",
"ttTtha-sinh",
"dDha-sinh",
"dVa-sinh",
"dVI-sinh",
"dVIi-sinh",
"ga-sinh.half"
);
},
{
name = note;
value = "";
},
{
name = compatibleFullNames;
value = Kaputa;
},
{
name = licenses;
value = "This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.  You should have received a copy of the GNU General Public License along with this program. If not, see http://www.gnu.org/licenses/.";
},
{
name = licenseURL;
value = "http://www.gnu.org/licenses/";
},
{
name = preferredFamilyNames;
value = Kaputa;
},
{
name = versionString;
value = "Version 2.920; DEV";
},
{
name = codePageRanges;
value = (
"1252"
);
},
{
name = fsType;
value = (
);
},
{
name = vendorID;
value = MNIK;
}
);
date = "2017-09-20 17:48:05 +0000";
familyName = Kaputa;
featurePrefixes = (
{
code = "languagesystem DFLT dflt;
languagesystem sinh dflt;
";
name = Languagesystems;
},
{
code = "lookup akhn_02 {

  sub ka-sinh' virama-sinh' zerowidthjoiner' ssa-sinh by ka-sinh.half;
  sub ka-sinh' virama-sinh' zerowidthjoiner' va-sinh by ka-sinh.half;
  sub ka-sinh' virama-sinh' zerowidthjoiner' va-sinh by ka-sinh.half;
  sub ta-sinh' virama-sinh' zerowidthjoiner' va-sinh by ta-sinh.half;
  sub ta-sinh' virama-sinh' zerowidthjoiner' va-sinh by ta-sinh.half;
  sub ta-sinh' virama-sinh' zerowidthjoiner' tha-sinh by ta-sinh.half;
  sub na-sinh' virama-sinh' zerowidthjoiner' da-sinh by na-sinh.half;
  sub na-sinh' virama-sinh' zerowidthjoiner' va-sinh by na-sinh.half;
  sub na-sinh' virama-sinh' zerowidthjoiner' tha-sinh by na-sinh.half;

} akhn_02;

lookup rphf0 {

  sub ra-sinh virama-sinh zerowidthjoiner by repha-sinh;

} rphf0;

lookup rphf1 {

  sub virama-sinh zerowidthjoiner ra-sinh  by rasign-sinh;
} rphf1;

lookup vatu1 {

  sub virama-sinh zerowidthjoiner ya-sinh  by yasign-sinh;
} vatu1;

lookup pstf_01 {

  sub esign-sinh virama-sinh  by eesign-sinh;
  sub esign-sinh esign-sinh  by aisign-sinh;
  sub esign-sinh aasign-sinh  by osign-sinh;
  sub esign-sinh aasign-sinh virama-sinh  by oosign-sinh;
  sub aasign-sinh virama-sinh  by oosign-sinh.sechalf;
  sub esign-sinh vocalicllsign-sinh  by ausign-sinh;
  sub vocalicrsign-sinh vocalicrsign-sinh  by vocalicrrsign-sinh;

} pstf_01;

lookup rphf4 {

  sub a-sinh aasign-sinh  by aa-sinh;
  sub a-sinh aesign-sinh  by aae-sinh;
  sub a-sinh aaesign-sinh  by ae-sinh;
  sub u-sinh vocalicllsign-sinh  by uu-sinh;
  sub vocalicr-sinh vocalicrsign-sinh  by vocalicrr-sinh;
  sub o-sinh virama-sinh  by oo-sinh;
  sub o-sinh vocalicllsign-sinh  by au-sinh;

} rphf4;

lookup pstf_02 {

  sub eesign-sinh by eesign-sinh.sechalf;
  sub osign-sinh by osign-sinh.sechalf;
  sub oosign-sinh by oosign-sinh.sechalf;
  sub ausign-sinh by ausign-sinh.sechalf;

} pstf_02;

lookup psts_01 {

  sub ra-sinh usign-sinh'  by aesign-sinh;
  sub ra-sinh uusign-sinh'  by aaesign-sinh;

} psts_01;

lookup psts_02{

 sub [ga-sinh nnga-sinh ka-sinh ta-sinh bha-sinh sha-sinh] [usign-sinh ]'  by [usign-sinh.alt ];
 sub [ga-sinh nnga-sinh ka-sinh ta-sinh bha-sinh sha-sinh] [uusign-sinh ]'  by [uusign-sinh.alt ];

} psts_02;

lookup psts_03 {

  sub ra-sinh aesign-sinh  by rAe-sinh;
  sub ra-sinh aaesign-sinh  by rAae-sinh;

} psts_03;

lookup abvs_virama {

  sub [kha-sinh jha-sinh nga-sinh ca-sinh tta-sinh dda-sinh nndda-sinh dha-sinh ba-sinh ma-sinh mba-sinh va-sinh] [virama-sinh eesign-sinh.sechalf ]'  by [virama-sinh.alt ];

} abvs_virama;
lookup abvs_virama_02 {

  sub [kha-sinh nga-sinh ca-sinh tta-sinh dda-sinh nndda-sinh dha-sinh ba-sinh ma-sinh mba-sinh va-sinh] [rasign-sinh ] [virama-sinh eesign-sinh.sechalf ]'  by [virama-sinh.alt ];

} abvs_virama_02;

lookup abvs_virama_03 {

  sub ra-sinh virama-sinh  by r-sinh;

} abvs_virama_03;

lookup abvs_matrai {

  sub [da-sinh da-sinh.rakar nda-sinh jnya-sinh nya-sinh la-sinh lla-sinh yasign-sinh] [isign-sinh iisign-sinh ]'  by [isign-sinh.alt iisign-sinh.alt ];
  sub [cha-sinh ja-sinh nyja-sinh] [isign-sinh iisign-sinh]'  by [isign-sinh.alt1 iisign-sinh.alt1 ];
  sub [tha-sinh pha-sinh ttha-sinh ddha-sinh ] [isign-sinh iisign-sinh]'  by [isign-sinh.alt2 iisign-sinh.alt2 ];

} abvs_matrai;

lookup abvs_01 {

  sub kha-sinh isign-sinh  by khI-sinh;
  sub kha-sinh iisign-sinh  by khIi-sinh;
  sub nga-sinh isign-sinh  by ngI-sinh;
  sub nga-sinh iisign-sinh  by ngIi-sinh;
  sub ca-sinh isign-sinh  by cI-sinh;
  sub ca-sinh iisign-sinh  by cIi-sinh;
  sub tta-sinh isign-sinh  by ttI-sinh;
  sub tta-sinh iisign-sinh  by ttIi-sinh;
  sub dda-sinh isign-sinh  by ddI-sinh;
  sub dda-sinh iisign-sinh  by ddIi-sinh;
  sub nndda-sinh isign-sinh  by nnddI-sinh;
  sub nndda-sinh iisign-sinh  by nnddIi-sinh;
  sub dha-sinh isign-sinh  by dhI-sinh;
  sub dha-sinh iisign-sinh  by dhIi-sinh;
  sub ba-sinh isign-sinh  by bI-sinh;
  sub ba-sinh iisign-sinh  by bIi-sinh;
  sub ma-sinh isign-sinh  by mI-sinh;
  sub ma-sinh iisign-sinh  by mIi-sinh;
  sub mba-sinh isign-sinh  by mbI-sinh;
  sub mba-sinh iisign-sinh  by mbIi-sinh;
  sub va-sinh isign-sinh  by vI-sinh;
  sub va-sinh iisign-sinh  by vIi-sinh;
  sub jha-sinh isign-sinh by jhI-sinh;
  sub jha-sinh iisign-sinh by jhIi-sinh;
  sub ra-sinh isign-sinh by rI-sinh;
  sub ra-sinh iisign-sinh by rIi-sinh;

} abvs_01;

lookup abvs_02 {
	 
    sub kha-sinh rasign-sinh isign-sinh'  by isign-sinh.empty;
    sub nga-sinh rasign-sinh isign-sinh'  by isign-sinh.empty;
    sub ca-sinh rasign-sinh isign-sinh'  by isign-sinh.empty;
    sub tta-sinh rasign-sinh isign-sinh'  by isign-sinh.empty;
    sub dda-sinh rasign-sinh isign-sinh'  by isign-sinh.empty;
    sub nndda-sinh rasign-sinh isign-sinh'  by isign-sinh.empty;
    sub dha-sinh rasign-sinh isign-sinh'  by isign-sinh.empty;
    sub ba-sinh rasign-sinh isign-sinh'  by isign-sinh.empty;
    sub ma-sinh rasign-sinh isign-sinh'  by isign-sinh.empty;
    sub mba-sinh rasign-sinh isign-sinh'  by isign-sinh.empty;
    sub va-sinh rasign-sinh isign-sinh'  by isign-sinh.empty;
    sub jha-sinh rasign-sinh isign-sinh'  by isign-sinh.empty;
    sub kha-sinh rasign-sinh iisign-sinh'  by iisign-sinh.empty;
sub nga-sinh rasign-sinh iisign-sinh'  by iisign-sinh.empty;
sub ca-sinh rasign-sinh iisign-sinh'  by iisign-sinh.empty;
sub tta-sinh rasign-sinh iisign-sinh'  by iisign-sinh.empty;
sub dda-sinh rasign-sinh iisign-sinh'  by iisign-sinh.empty;
sub nndda-sinh rasign-sinh iisign-sinh'  by iisign-sinh.empty;
sub dha-sinh rasign-sinh iisign-sinh'  by iisign-sinh.empty;
sub ba-sinh rasign-sinh iisign-sinh'  by iisign-sinh.empty;
sub ma-sinh rasign-sinh iisign-sinh'  by iisign-sinh.empty;
sub mba-sinh rasign-sinh iisign-sinh'  by iisign-sinh.empty;
sub va-sinh rasign-sinh iisign-sinh'  by iisign-sinh.empty;
sub jha-sinh rasign-sinh iisign-sinh'  by iisign-sinh.empty;

} abvs_02;

lookup abvs_03{

	sub kha-sinh' rasign-sinh rasign-sinh isign-sinh by khI-sinh;
	sub nga-sinh' rasign-sinh isign-sinh.empty by ngI-sinh;
	sub ca-sinh' rasign-sinh isign-sinh.empty by cI-sinh;
	sub tta-sinh' rasign-sinh isign-sinh.empty by ttI-sinh;
	sub dda-sinh' rasign-sinh isign-sinh.empty by ddI-sinh;
	sub nndda-sinh' rasign-sinh isign-sinh.empty by nnddI-sinh;
	sub dha-sinh' rasign-sinh isign-sinh.empty by dhI-sinh;
	sub ba-sinh' rasign-sinh isign-sinh.empty by bI-sinh;
	sub ma-sinh' rasign-sinh isign-sinh.empty by mI-sinh;
	sub mba-sinh' rasign-sinh isign-sinh.empty by mbI-sinh;
	sub va-sinh' rasign-sinh isign-sinh.empty by vI-sinh;
	sub jha-sinh' rasign-sinh isign-sinh.empty by jhI-sinh;
	sub kha-sinh' rasign-sinh iisign-sinh.empty by khIi-sinh;
	sub nga-sinh' rasign-sinh iisign-sinh.empty by ngIi-sinh;
	sub ca-sinh' rasign-sinh iisign-sinh.empty by cIi-sinh;
	sub tta-sinh' rasign-sinh iisign-sinh.empty by ttIi-sinh;
	sub dda-sinh' rasign-sinh iisign-sinh.empty by ddIi-sinh;
	sub nndda-sinh' rasign-sinh iisign-sinh.empty by nnddIi-sinh;
	sub dha-sinh' rasign-sinh iisign-sinh.empty by dhIi-sinh;
	sub ba-sinh' rasign-sinh iisign-sinh.empty by bIi-sinh;
	sub ma-sinh' rasign-sinh iisign-sinh.empty by mIi-sinh;
	sub mba-sinh' rasign-sinh iisign-sinh.empty by mbIi-sinh;
	sub va-sinh' rasign-sinh iisign-sinh.empty by vIi-sinh;
	sub jha-sinh' rasign-sinh iisign-sinh.empty by jhIi-sinh;

} abvs_03;

lookup blws_01{

  sub nya-sinh usign-sinh  by nyU-sinh;
  sub nya-sinh uusign-sinh  by nyUu-sinh;
  sub jnya-sinh usign-sinh  by jnyU-sinh;
  sub jnya-sinh uusign-sinh  by jnyUu-sinh;
  sub da-sinh rasign-sinh  by da-sinh.rakar;
  sub da-sinh usign-sinh  by dU-sinh;
  sub da-sinh uusign-sinh  by dUu-sinh;
  sub nda-sinh rasign-sinh  by nda-sinh.rakar;
  sub nda-sinh usign-sinh  by ndU-sinh;
  sub nda-sinh uusign-sinh  by ndUu-sinh;
  sub la-sinh usign-sinh  by lU-sinh;
  sub la-sinh uusign-sinh  by lUu-sinh;
  sub sha-sinh rasign-sinh iisign-sinh  by shRIi-sinh;
  sub lla-sinh usign-sinh  by llU-sinh;

} blws_01;

lookup blws_02{

  sub lla-sinh' uusign-sinh  by llU-sinh;
  sub llU-sinh uusign-sinh'  by aaesign-sinh;

} blws_02;

lookup sin_touching_1 {

  sub ka-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub ga-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub ja-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub tta-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub dda-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub nna-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub ta-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub da-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub na-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub pa-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub ba-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub ma-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub la-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub ma-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub sa-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub sha-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub ha-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub nga-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub nya-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub nga-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;
  sub nga-sinh zerowidthjoiner virama-sinh'  by virama-sinh.touch;

} sin_touching_1;

lookup sin_touching_2 {

 pos ka-sinh' virama-sinh.touch ka-sinh <0 0 -65 0>;
 pos ka-sinh' virama-sinh.touch ta-sinh <0 0 -75 0>;
 pos ka-sinh' virama-sinh.touch ma-sinh <0 0 -80 0>;
 pos ga-sinh' virama-sinh.touch <0 0 -50 0>;
 pos ja-sinh' virama-sinh.touch <0 0 -50 0>;
 pos tta-sinh' virama-sinh.touch <0 0 -50 0>;
 pos dda-sinh' virama-sinh.touch <0 0 -50 0>;
 pos nna-sinh' virama-sinh.touch <0 0 -50 0>;
 pos ta-sinh' virama-sinh.touch <0 0 -50 0>;
 pos da-sinh' virama-sinh.touch <0 0 -50 0>;
 pos na-sinh' virama-sinh.touch <0 0 -50 0>;
 pos pa-sinh' virama-sinh.touch pa-sinh <0 0 -100 0>;
 pos pa-sinh' virama-sinh.touch <0 0 -50 0>;
 pos ba-sinh' virama-sinh.touch <0 0 -50 0>;
 pos ma-sinh' virama-sinh.touch <0 0 -50 0>;
 pos la-sinh' virama-sinh.touch <0 0 -50 0>;
 pos ma-sinh' virama-sinh.touch <0 0 -50 0>;
 pos sa-sinh' virama-sinh.touch <0 0 -50 0>;
 pos sha-sinh' virama-sinh.touch <0 0 -50 0>;
 pos ha-sinh' virama-sinh.touch <0 0 -50 0>;
 pos nga-sinh' virama-sinh.touch <0 0 -50 0>;
 pos nya-sinh' virama-sinh.touch <0 0 -50 0>;
 pos nga-sinh' virama-sinh.touch <0 0 -50 0>;
 pos nga-sinh' virama-sinh.touch <0 0 -50 0>;

} sin_touching_2;

#----------- Sinhala Numerals------------
#---------------------------------

lookup sin_lithnum_style {
	sub zero by lithzero-sinh;
	sub one by lithone-sinh;
	sub two by lithtwo-sinh;
	sub three by liththree-sinh;
	sub four by lithfour-sinh;
	sub five by lithfive-sinh;
	sub six by lithsix-sinh;
	sub seven by lithseven-sinh;
	sub eight by litheight-sinh;
	sub nine by lithnine-sinh;
} sin_lithnum_style;";
name = Prefix;
}
);
features = (
{
code = " script sinh;
     language dflt;
      lookup rphf1;
      lookup rphf0;
      lookup vatu1;";
tag = vatu;
},
{
code = " script sinh;
    language dflt;
      lookup pstf_01;
      lookup pstf_02;";
tag = pstf;
},
{
code = " script sinh;
     language dflt;
      lookup psts_03;
      lookup psts_01;
      lookup psts_02;";
tag = psts;
},
{
code = " script sinh;
     language dflt;
      lookup akhn_02;
      lookup sin_touching_1;
      lookup sin_touching_2;";
tag = akhn;
},
{
code = " script sinh;
     language dflt;
      lookup abvs_01;
      lookup abvs_02;
      lookup abvs_03;
      lookup abvs_virama;
      lookup abvs_matrai;
      lookup abvs_virama_02;";
tag = abvs;
},
{
code = " script sinh;
     language dflt;
      lookup rphf4;";
tag = rphf;
},
{
code = " script sinh;
     language dflt;
      lookup blws_01;
      lookup blws_02;";
tag = blws;
},
{
code = "  script sinh;
    language dflt;
    lookup sin_lithnum_style;";
tag = ss06;
}
);
fontMaster = (
{
axesValues = (
100,
100
);
customParameters = (
{
name = typoAscender;
value = 746;
},
{
name = typoDescender;
value = -254;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 746;
},
{
name = hheaDescender;
value = -254;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 775;
},
{
name = winDescent;
value = 219;
},
{
name = underlineThickness;
value = 0;
},
{
name = underlinePosition;
value = 0;
}
);
id = "902E803C-EB75-4CF8-B2E0-AD6A3AB6F03E";
metricValues = (
{
over = 16;
pos = 746;
},
{
over = 15;
pos = 571;
},
{
over = 15;
pos = 423;
},
{
over = -9;
},
{
over = -16;
pos = -254;
}
);
name = Regular;
userData = {
org.unifiedfontobject.normalizer.imageReferences = {
};
org.unifiedfontobject.normalizer.modTimes = "version: 0.3.3.dev0
1533142480.0 A_.glif
1533142480.0 B_.glif
1533142480.0 C_.glif
1533142480.0 C_R_.glif
1533142480.0 D_.glif
1533142480.0 E_.glif
1533142480.0 F_.glif
1533142480.0 G_.glif
1533142480.0 H_.glif
1533142480.0 I_.glif
1533142480.0 J_.glif
1533142480.0 K_.glif
1533142480.0 L_.glif
1533142480.0 M_.glif
1533142480.0 N_.glif
1533142480.0 O_.glif
1533142480.0 P_.glif
1533142480.0 Q_.glif
1533142480.0 R_.glif
1533142480.0 S_.glif
1533142480.0 T_.glif
1533142480.0 U_.glif
1533142480.0 V_.glif
1533142480.0 W_.glif
1533142480.0 X_.glif
1533142480.0 Y_.glif
1533142480.0 Z_.glif
1519073688.0 _i.part.glif
1519073688.0 _ii.part.glif
1519073688.0 _notdef.glif
1533142480.0 _null.glif
1533142480.0 a.glif
1533142480.0 ampersand.glif
1533142480.0 approxequal.glif
1533142480.0 approxequal.osf.glif
1533142480.0 approxequal.tf.glif
1533142480.0 asciicircum.glif
1533142480.0 asciitilde.glif
1533142480.0 asciitilde.osf.glif
1533142480.0 asterisk.glif
1533142480.0 at.glif
1533142480.0 b.glif
1533142480.0 backslash.glif
1533142480.0 bracketleft.glif
1533142480.0 bracketright.glif
1533142480.0 brokenbar.glif
1533142480.0 c.glif
1533142480.0 colon.glif
1533142479.0 comma.glif
1533142480.0 copyright.glif
1533142480.0 d.glif
1533142480.0 divide.glif
1533142480.0 divide.osf.glif
1533142480.0 divide.tf.glif
1533142479.0 dollar.glif
1533142480.0 dottedC_ircle.glif
1533142480.0 e.glif
1533142480.0 eight.glif
1533142480.0 equal.glif
1533142480.0 equal.osf.glif
1533142480.0 equal.tf.glif
1533142480.0 euro.glif
1533142480.0 exclam.glif
1533142480.0 f.glif
1533142480.0 five.glif
1533142479.0 four.glif
1533142480.0 g.glif
1533142480.0 grave.glif
1533142480.0 greater.glif
1533142480.0 greater.osf.glif
1533142480.0 greater.tf.glif
1533142480.0 greaterequal.glif
1533142480.0 greaterequal.osf.glif
1533142480.0 greaterequal.tf.glif
1533142480.0 guillemetleft.glif
1533142480.0 guillemetright.glif
1533142480.0 h.glif
1533142480.0 hyphen.glif
1533142480.0 i.glif
1533142480.0 j.glif
1533142480.0 k.glif
1533142480.0 l.glif
1533142479.0 less.glif
1533142480.0 less.osf.glif
1533142480.0 less.tf.glif
1533142480.0 lessequal.glif
1533142480.0 lessequal.osf.glif
1533142480.0 lessequal.tf.glif
1533142480.0 logicalnot.osf.glif
1533142480.0 m.glif
1533142480.0 minus.glif
1533142480.0 minus.osf.glif
1533142480.0 minus.tf.glif
1519073688.0 mooniak.glif
1533142480.0 multiply.glif
1533142480.0 multiply.osf.glif
1533142480.0 multiply.tf.glif
1533142480.0 n.glif
1533142480.0 nbspace.glif
1533142480.0 nine.glif
1533142480.0 notequal.glif
1533142480.0 notequal.osf.glif
1533142480.0 notequal.tf.glif
1533142480.0 numbersign.glif
1533142480.0 o.glif
1533142480.0 one.glif
1533142480.0 p.glif
1533142480.0 paragraph.glif
1533142480.0 parenleft.glif
1533142480.0 parenright.glif
1533142480.0 percent.glif
1533142480.0 period.glif
1533142480.0 periodcentered.glif
1533142480.0 plus.glif
1533142480.0 plus.osf.glif
1533142480.0 plus.tf.glif
1533142479.0 plusminus.glif
1533142480.0 plusminus.osf.glif
1533142480.0 plusminus.tf.glif
1533142480.0 q.glif
1533142480.0 question.glif
1533142480.0 quotedbl.glif
1533142480.0 quotesingle.glif
1533142480.0 r.glif
1533142480.0 registered.glif
1533142480.0 s.glif
1533142480.0 section.glif
1533142480.0 semicolon.glif
1533142480.0 seven.glif
1533142480.0 sinA_.glif
1533142480.0 sinA_a.glif
1533142480.0 sinA_ae.glif
1533142480.0 sinA_e.glif
1533142480.0 sinA_i.glif
1533142480.0 sinA_nusvara.glif
1533142480.0 sinA_u.glif
1519073688.0 sinB_I_.glif
1519073688.0 sinB_I_i.glif
1533142480.0 sinB_a.glif
1533142480.0 sinB_ha.glif
1519073688.0 sinC_I_.glif
1519073688.0 sinC_I_i.glif
1533142480.0 sinC_a.glif
1533142480.0 sinC_ha.glif
1519073688.0 sinD_D_ha.glif
1519073688.0 sinD_U_.glif
1519073688.0 sinD_U_u.glif
1519073688.0 sinD_V_I_.glif
1519073688.0 sinD_V_I_i.glif
1519073688.0 sinD_V_a.glif
1533142480.0 sinD_a.glif
1519073688.0 sinD_a.rakar.glif
1519073688.0 sinD_dI_.glif
1519073688.0 sinD_dI_i.glif
1533142480.0 sinD_da.glif
1533142480.0 sinD_dha.glif
1519073688.0 sinD_hI_.glif
1519073688.0 sinD_hI_i.glif
1533142480.0 sinD_ha.glif
1533142480.0 sinE_.glif
1533142480.0 sinE_e.glif
1533142480.0 sinE_ightlith.glif
1533142480.0 sinF_a.glif
1533142480.0 sinF_ivelith.glif
1533142480.0 sinF_ourlith.glif
1533142480.0 sinG_a.glif
1519073688.0 sinG_a.half.glif
1533142480.0 sinG_ha.glif
1533142480.0 sinH_a.glif
1533142480.0 sinI_.glif
1533142480.0 sinI_i.glif
1533142480.0 sinJ_a.glif
1519073688.0 sinJ_hI_.glif
1519073688.0 sinJ_hI_i.glif
1533142480.0 sinJ_ha.glif
1519073688.0 sinJ_nyU_.glif
1519073688.0 sinJ_nyU_u.glif
1533142480.0 sinJ_nya.glif
1533142480.0 sinK_a.glif
1533142480.0 sinK_a.half.glif
1519073688.0 sinK_hI_.glif
1519073688.0 sinK_hI_i.glif
1533142480.0 sinK_ha.glif
1533142480.0 sinK_undaliya.glif
1519073688.0 sinL_U_.glif
1519073688.0 sinL_U_u.glif
1533142480.0 sinL_a.glif
1519073688.0 sinL_lU_.glif
1533142480.0 sinL_la.glif
1519073688.0 sinM_I_.glif
1519073688.0 sinM_I_i.glif
1533142480.0 sinM_a.glif
1533142480.0 sinM_atraA_a.glif
1533142480.0 sinM_atraA_ae.glif
1533142480.0 sinM_atraA_e.glif
1533142480.0 sinM_atraA_i.glif
1533142480.0 sinM_atraA_u.glif
1519073688.0 sinM_atraA_u.sechalf.glif
1533142480.0 sinM_atraE_.glif
1533142480.0 sinM_atraE_e.glif
1533142480.0 sinM_atraE_e.sechalf.glif
1533142480.0 sinM_atraI_.alt.glif
1533142480.0 sinM_atraI_.alt1.glif
1533142480.0 sinM_atraI_.alt2.glif
1533142480.0 sinM_atraI_.empty.glif
1533142480.0 sinM_atraI_.glif
1533142480.0 sinM_atraI_i.alt.glif
1533142479.0 sinM_atraI_i.alt1.glif
1533142480.0 sinM_atraI_i.alt2.glif
1533142480.0 sinM_atraI_i.empty.glif
1533142480.0 sinM_atraI_i.glif
1533142480.0 sinM_atraL_l.glif
1533142480.0 sinM_atraL_s.glif
1533142480.0 sinM_atraO_.glif
1519073688.0 sinM_atraO_.sechalf.glif
1533142480.0 sinM_atraO_o.glif
1519073688.0 sinM_atraO_o.sechalf.glif
1533142479.0 sinM_atraR_.glif
1533142480.0 sinM_atraR_r.glif
1533142480.0 sinM_atraU_.alt.glif
1533142480.0 sinM_atraU_.glif
1533142480.0 sinM_atraU_u.alt.glif
1533142480.0 sinM_atraU_u.glif
1519073688.0 sinM_bI_.glif
1519073688.0 sinM_bI_i.glif
1533142480.0 sinM_ba.glif
1533142480.0 sinN_a.glif
1519073688.0 sinN_a.half.glif
1519073688.0 sinN_dU_.glif
1519073688.0 sinN_dU_u.glif
1533142480.0 sinN_da.glif
1519073688.0 sinN_da.rakar.glif
1533142480.0 sinN_dja.glif
1519073688.0 sinN_gI_.glif
1519073688.0 sinN_gI_i.glif
1533142480.0 sinN_ga.glif
1533142480.0 sinN_inelith.glif
1533142480.0 sinN_na.glif
1519073688.0 sinN_nddI_.glif
1519073688.0 sinN_nddI_i.glif
1533142480.0 sinN_ndda.glif
1533142480.0 sinN_nga.glif
1519073688.0 sinN_yU_.glif
1519073688.0 sinN_yU_u.glif
1533142480.0 sinN_ya.glif
1533142480.0 sinO_.glif
1533142480.0 sinO_nelith.glif
1533142480.0 sinO_o.glif
1533142480.0 sinP_a.glif
1533142480.0 sinP_ha.glif
1519073688.0 sinR_.virama.glif
1519073688.0 sinR_A_ae.glif
1519073688.0 sinR_A_e.glif
1519073688.0 sinR_I_.glif
1533142480.0 sinR_I_i.glif
1533142480.0 sinR_a.glif
1533142480.0 sinR_akar.glif
1533142480.0 sinR_eph.glif
1533142480.0 sinS_a.glif
1533142479.0 sinS_evenlith.glif
1519073688.0 sinS_hR_I_i.glif
1533142480.0 sinS_ha.glif
1533142480.0 sinS_ixlith.glif
1533142480.0 sinS_sa.glif
1533142480.0 sinT_a.glif
1519073688.0 sinT_a.half.glif
1533142480.0 sinT_ha.glif
1533142480.0 sinT_hreelith.glif
1519073688.0 sinT_tI_.glif
1519073688.0 sinT_tI_i.glif
1519073688.0 sinT_tT_tha.glif
1533142480.0 sinT_ta.glif
1533142480.0 sinT_tha.glif
1533142480.0 sinT_wolith.glif
1533142480.0 sinU_.glif
1533142480.0 sinU_u.glif
1519073688.0 sinV_I_.glif
1519073688.0 sinV_I_i.glif
1533142480.0 sinV_a.glif
1533142480.0 sinV_irama.alt.glif
1533142480.0 sinV_irama.glif
1533142480.0 sinV_irama.touch.glif
1533142480.0 sinV_isarga.glif
1533142480.0 sinV_ocalicR_.glif
1533142479.0 sinV_ocalicR_r.glif
1533142480.0 sinV_ocalicl.glif
1533142480.0 sinV_ocalicll.glif
1533142480.0 sinY_a.glif
1519073688.0 sinY_a.post.glif
1533142480.0 sinZ_erolith.glif
1533142479.0 six.glif
1533142480.0 slash.glif
1533142480.0 space.glif
1533142480.0 t.glif
1533142480.0 three.glif
1533142480.0 trademark.glif
1533142480.0 two.glif
1533142480.0 u.glif
1533142480.0 underscore.glif
1533142480.0 uni2215.glif
1533142480.0 uni2215.tf.glif
1533142480.0 uni2219.glif
1533142480.0 uni2219.osf.glif
1533142480.0 uni2219.tf.glif
1533142480.0 v.glif
1533142480.0 w.glif
1533142480.0 x.glif
1533142480.0 y.glif
1533142480.0 z.glif
1533142480.0 zero.glif
1533142480.0 zerowidthjoiner.glif
1533142480.0 zerowidthnonjoiner.glif";
};
}
);
instances = (
{
instanceInterpolations = {
"902E803C-EB75-4CF8-B2E0-AD6A3AB6F03E" = 1;
};
name = Regular;
properties = (
{
key = postscriptFontName;
value = "Kaputa-Regular";
},
{
key = postscriptFullNames;
values = (
{
language = dflt;
value = Kaputa;
}
);
},
{
key = styleMapFamilyNames;
values = (
{
language = dflt;
value = Kaputa;
}
);
}
);
}
);
kerningLTR = {
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
properties = (
{
key = compatibleFullNames;
values = (
{
language = dflt;
value = Kaputa;
}
);
},
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright (c) 2017 Kaputa Font Project Authors, Copyright 2012 The Encode Project Authors (impallari@gmail.com)";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = "Multiple designers";
}
);
},
{
key = designerURL;
value = "http://www.mooniak.com/";
},
{
key = licenses;
values = (
{
language = dflt;
value = "This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.  You should have received a copy of the GNU General Public License along with this program. If not, see http://www.gnu.org/licenses/.";
}
);
},
{
key = licenseURL;
value = "http://www.gnu.org/licenses/";
},
{
key = manufacturers;
values = (
{
language = dflt;
value = Mooniak;
}
);
},
{
key = manufacturerURL;
value = "http://textual.works";
},
{
key = trademarks;
values = (
{
language = dflt;
value = Mooniak;
}
);
},
{
key = versionString;
value = "Version 2.920; DEV";
}
);
settings = {
disablesNiceNames = 1;
};
stems = (
);
unitsPerEm = 1000;
userData = {
UFO.lib = {
com.schriftgestaltung.glyphOrder = 0;
org.unifiedfontobject.normalizer.modTimes = "version: 0.3.3.dev0
1533142480.0 fontinfo.plist
1513068804.0 groups.plist
1533142480.0 layercontents.plist
1533142480.0 metainfo.plist";
};
UFOFormat = 3;
};
versionMajor = 2;
versionMinor = 920;
}
