(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
sinA,
sinAa,
sinAae,
sinAe,
sinAi,
sinAu,
sinBa,
sinBha,
sinCa,
sinCha,
sinDa,
sinDda,
sinDdha,
sinDha,
sinE,
sinEe,
sinFa,
sinGa,
sinGha,
sinHa,
sinI,
sinIi,
sinJa,
sinJha,
sinJnya,
sinKa,
sinKha,
sinLa,
sinLla,
sinMa,
sinMba,
sinNa,
sinNda,
sinNdja,
sinNga,
sinNna,
sinNndda,
sinNnga,
sinNya,
sinO,
sinOo,
sinPa,
sinPha,
sinRa,
sinSa,
sinSha,
sinSsa,
sinTa,
sinTha,
sinTta,
sinTtha,
sinU,
sinUu,
sinVa,
sinVocalicR,
sinVocalicRr,
sinVocalicl,
sinVocalicll,
sinYa,
sinDa.rakar,
sinKa.half,
sinNa.half,
sinNda.rakar,
sinTa.half,
sinYa.post,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
sinZerolith,
sinOnelith,
sinTwolith,
sinThreelith,
sinFourlith,
sinFivelith,
sinSixlith,
sinSevenlith,
sinEightlith,
sinNinelith,
period,
comma,
colon,
semicolon,
exclam,
question,
periodcentered,
asterisk,
numbersign,
slash,
backslash,
parenleft,
parenright,
bracketleft,
bracketright,
hyphen,
underscore,
guillemetleft,
guillemetright,
quotedbl,
quotesingle,
sinKundaliya,
space,
nbspace,
zerowidthjoiner,
zerowidthnonjoiner,
CR,
.notdef,
.null,
dollar,
euro,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
asciicircum,
percent,
uni2215,
uni2219,
uni2219.osf,
plus.osf,
minus.osf,
multiply.osf,
divide.osf,
equal.osf,
notequal.osf,
greater.osf,
less.osf,
greaterequal.osf,
lessequal.osf,
plusminus.osf,
approxequal.osf,
asciitilde.osf,
logicalnot.osf,
uni2219.tf,
uni2215.tf,
plus.tf,
minus.tf,
multiply.tf,
divide.tf,
equal.tf,
notequal.tf,
greater.tf,
less.tf,
greaterequal.tf,
lessequal.tf,
plusminus.tf,
approxequal.tf,
dottedCircle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
brokenbar,
grave,
sinAnusvara,
sinMatraAa,
sinMatraAae,
sinMatraAe,
sinMatraAi,
sinMatraAu,
sinMatraE,
sinMatraEe,
sinMatraI,
sinMatraIi,
sinMatraLl,
sinMatraLs,
sinMatraO,
sinMatraOo,
sinMatraR,
sinMatraRr,
sinMatraU,
sinMatraUu,
sinVirama,
sinVisarga,
sinMatraAu.sechalf,
sinMatraEe.sechalf,
sinMatraI.alt,
sinMatraI.alt1,
sinMatraI.alt2,
sinMatraI.empty,
sinMatraIi.alt,
sinMatraIi.alt1,
sinMatraIi.alt2,
sinMatraIi.empty,
sinMatraO.sechalf,
sinMatraOo.sechalf,
sinMatraU.alt,
sinMatraUu.alt,
sinVirama.alt,
sinVirama.touch,
sinR.virama,
_i.part,
_ii.part,
mooniak,
sinBI,
sinBIi,
sinCI,
sinCIi,
sinDdI,
sinDhI,
sinDdIi,
sinDhIi,
sinDU,
sinDUu,
sinJhI,
sinJhIi,
sinJnyU,
sinJnyUu,
sinKhI,
sinKhIi,
sinLlU,
sinLU,
sinLUu,
sinMbIi,
sinMI,
sinMbI,
sinMIi,
sinNdU,
sinNdUu,
sinNgI,
sinNgIi,
sinNnddI,
sinNnddIi,
sinNyU,
sinNyUu,
sinRAae,
sinRAe,
sinRakar,
sinReph,
sinShRIi,
sinTtIi,
sinTtI,
sinVI,
sinVIi,
sinRI,
sinRIi,
sinTtTtha,
sinDDha,
sinDVa,
sinDVI,
sinDVIi,
sinGa.half
)