<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>746</integer>
	<key>capHeight</key>
	<integer>571</integer>
	<key>copyright</key>
	<string>Copyright  2004  (c) Thusitha Randunuge - eFusion, Niranjan Meegammana. Copyright (c)  2017 Mooniak Private Limited</string>
	<key>descender</key>
	<integer>-254</integer>
	<key>familyName</key>
	<string>Kaputa Libre</string>
	<key>openTypeHeadCreated</key>
	<string>2017/09/18 14:11:12</string>
	<key>openTypeNameDesigner</key>
	<string>Thusitha Randunuge, Pathum Egodawatta, Kosala Senevirathne</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://textual.works</string>
	<key>openTypeNameManufacturer</key>
	<string>Textual</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://textual.works</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Kaputa Libre</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2TypoAscender</key>
	<integer>746</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-254</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>36</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>KaputaUnicode-Regular</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>2</integer>
	<key>versionMinor</key>
	<integer>900</integer>
	<key>xHeight</key>
	<integer>423</integer>
</dict>
</plist>
