<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>uni000D</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>Euro</string>
		<string>ellipsis</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>perthousand</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>bullet</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni00A0</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>logicalnot</string>
		<string>degree</string>
		<string>multiply</string>
		<string>divide</string>
		<string>uni22C6</string>
		<string>plusminus</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>uni200C</string>
		<string>uni200D</string>
		<string>uni25CC</string>
		<string>uni0D82</string>
		<string>uni0D83</string>
		<string>uni0D85</string>
		<string>uni0D86</string>
		<string>uni0D87</string>
		<string>uni0D88</string>
		<string>uni0D89</string>
		<string>uni0D8A</string>
		<string>uni0D8B</string>
		<string>uni0D8C</string>
		<string>uni0D8D</string>
		<string>uni0D8E</string>
		<string>uni0D8F</string>
		<string>uni0D90</string>
		<string>uni0D91</string>
		<string>uni0D92</string>
		<string>uni0D93</string>
		<string>uni0D94</string>
		<string>uni0D95</string>
		<string>uni0D96</string>
		<string>uni0D9A</string>
		<string>uni0D9B</string>
		<string>uni0D9C</string>
		<string>uni0D9D</string>
		<string>uni0D9E</string>
		<string>uni0D9F</string>
		<string>uni0DA0</string>
		<string>uni0DA1</string>
		<string>uni0DA2</string>
		<string>uni0DA3</string>
		<string>uni0DA4</string>
		<string>uni0DA5</string>
		<string>uni0DA6</string>
		<string>uni0DA7</string>
		<string>uni0DA8</string>
		<string>uni0DA9</string>
		<string>uni0DAA</string>
		<string>uni0DAB</string>
		<string>uni0DAC</string>
		<string>uni0DAD</string>
		<string>uni0DAE</string>
		<string>uni0DAF</string>
		<string>uni0DB0</string>
		<string>uni0DB1</string>
		<string>uni0DB3</string>
		<string>uni0DB4</string>
		<string>uni0DB5</string>
		<string>uni0DB6</string>
		<string>uni0DB7</string>
		<string>uni0DB8</string>
		<string>uni0DB9</string>
		<string>uni0DBA</string>
		<string>uni0DBB</string>
		<string>uni0DBD</string>
		<string>uni0DC0</string>
		<string>uni0DC1</string>
		<string>uni0DC2</string>
		<string>uni0DC3</string>
		<string>uni0DC4</string>
		<string>uni0DC5</string>
		<string>uni0DC6</string>
		<string>uni0DCA</string>
		<string>uni0DCF</string>
		<string>uni0DD0</string>
		<string>uni0DD1</string>
		<string>uni0DD2</string>
		<string>uni0DD3</string>
		<string>uni0DD4</string>
		<string>uni0DD6</string>
		<string>uni0DD8</string>
		<string>uni0DD9</string>
		<string>uni0DDA</string>
		<string>uni0DDB</string>
		<string>uni0DDC</string>
		<string>uni0DDD</string>
		<string>uni0DDE</string>
		<string>uni0DDF</string>
		<string>uni0DF2</string>
		<string>uni0DF3</string>
		<string>uni0DF4</string>
		<string>uni0D9A0DCA200D0DC2</string>
		<string>uni0D9B0DCA</string>
		<string>uni0D9B0DD2</string>
		<string>uni0D9B0DD3</string>
		<string>uni0D9C0DD4</string>
		<string>uni0D9C0DD6</string>
		<string>uni0D9E0DCA</string>
		<string>uni0D9E0DD2</string>
		<string>uni0D9E0DD3</string>
		<string>uni0D9F0DD4</string>
		<string>uni0D9F0DD6</string>
		<string>uni0DA00DCA</string>
		<string>uni0DA00DD2</string>
		<string>uni0DA00DD3</string>
		<string>uni0DA10DCA</string>
		<string>uni0DA20DCA</string>
		<string>uni0DA40DCF</string>
		<string>uni0DA40DD4</string>
		<string>uni0DA40DD6</string>
		<string>uni0DA4.rakar</string>
		<string>uni0DA50DCF</string>
		<string>uni0DA50DD4</string>
		<string>uni0DA50DD6</string>
		<string>uni0DA5.rakar</string>
		<string>uni0DA70DCA</string>
		<string>uni0DA70DD2</string>
		<string>uni0DA70DD3</string>
		<string>uni0DA80DCA</string>
		<string>uni0DA80DD2</string>
		<string>uni0DA80DD3</string>
		<string>uni0DA90DCA</string>
		<string>uni0DA90DD2</string>
		<string>uni0DA90DD3</string>
		<string>uni0DAA0DCA</string>
		<string>uni0DAA0DD2</string>
		<string>uni0DAA0DD3</string>
		<string>uni0DAC0DCA</string>
		<string>uni0DAC0DD2</string>
		<string>uni0DAC0DD3</string>
		<string>uni0DAD0DD4</string>
		<string>uni0DAF0DCF</string>
		<string>uni0DAF0DD4</string>
		<string>uni0DAF0DD6</string>
		<string>uni0DAF0DD8</string>
		<string>uni0DAF.rakar</string>
		<string>uni0DB00DCA</string>
		<string>uni0DB00DD2</string>
		<string>uni0DB00DD3</string>
		<string>uni0DB30DCF</string>
		<string>uni0DB30DD4</string>
		<string>uni0DB30DD6</string>
		<string>uni0DB3.rakar</string>
		<string>uni0DB30DCA200D0DA80DCA</string>
		<string>uni0DB30DCA200D0DA80DD2</string>
		<string>uni0DB30DCA200D0DA80DD3</string>
		<string>uni0DB30DCA200D0DB00DCA</string>
		<string>uni0DB30DCA200D0DB00DD2</string>
		<string>uni0DB30DCA200D0DB00DD3</string>
		<string>uni0DB60DCA</string>
		<string>uni0DB60DD2</string>
		<string>uni0DB60DD3</string>
		<string>uni0DB70DD4</string>
		<string>uni0DB70DD6</string>
		<string>uni0DB80DCA</string>
		<string>uni0DB80DD2</string>
		<string>uni0DB80DD3</string>
		<string>uni0DB90DCA</string>
		<string>uni0DB90DD2</string>
		<string>uni0DB90DD3</string>
		<string>yansaya</string>
		<string>uni0DBB0DCA</string>
		<string>uni0DBB0DD0</string>
		<string>uni0DBB0DD1</string>
		<string>rapaya</string>
		<string>rakar</string>
		<string>uni0DBD0DD4</string>
		<string>uni0DBD0DD6</string>
		<string>uni0DC00DCA</string>
		<string>uni0DC00DD2</string>
		<string>uni0DC00DD3</string>
		<string>uni0DC10DD4</string>
		<string>uni0DC10DD6</string>
		<string>uni0DC10DD2.rakar</string>
		<string>uni0DC10DD3.rakar</string>
		<string>uni0DC50DD4</string>
		<string>uni0DC50DD6</string>
		<string>uni0DDA.sechalf</string>
		<string>uni0DDC.sechalf</string>
		<string>uni0DDD.sechalf</string>
		<string>uni0DDE.sechalf</string>
		<string>_ai</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>kra</string>
		<string>chroo</string>
		<string>troo</string>
		<string>Droo</string>
		<string>unidroo</string>
		<string>braoo</string>
		<string>unimraoo</string>
		<string>UniMbra</string>
		<string>uniVra</string>
	</array>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>com.schriftgestaltung.font.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>.null</string>
			<string>uni000D</string>
			<string>space</string>
			<string>exclam</string>
			<string>quotedbl</string>
			<string>numbersign</string>
			<string>dollar</string>
			<string>percent</string>
			<string>ampersand</string>
			<string>quotesingle</string>
			<string>parenleft</string>
			<string>parenright</string>
			<string>asterisk</string>
			<string>plus</string>
			<string>comma</string>
			<string>hyphen</string>
			<string>period</string>
			<string>slash</string>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
			<string>colon</string>
			<string>semicolon</string>
			<string>less</string>
			<string>equal</string>
			<string>greater</string>
			<string>question</string>
			<string>at</string>
			<string>bracketleft</string>
			<string>backslash</string>
			<string>bracketright</string>
			<string>braceleft</string>
			<string>bar</string>
			<string>braceright</string>
			<string>asciitilde</string>
			<string>Euro</string>
			<string>ellipsis</string>
			<string>dagger</string>
			<string>daggerdbl</string>
			<string>perthousand</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
			<string>bullet</string>
			<string>endash</string>
			<string>emdash</string>
			<string>uni00A0</string>
			<string>cent</string>
			<string>sterling</string>
			<string>currency</string>
			<string>yen</string>
			<string>brokenbar</string>
			<string>section</string>
			<string>copyright</string>
			<string>registered</string>
			<string>trademark</string>
			<string>guillemotleft</string>
			<string>guillemotright</string>
			<string>guilsinglleft</string>
			<string>guilsinglright</string>
			<string>logicalnot</string>
			<string>degree</string>
			<string>multiply</string>
			<string>divide</string>
			<string>uni22C6</string>
			<string>plusminus</string>
			<string>paragraph</string>
			<string>periodcentered</string>
			<string>uni200C</string>
			<string>uni200D</string>
			<string>uni25CC</string>
			<string>uni0D82</string>
			<string>uni0D83</string>
			<string>uni0D85</string>
			<string>uni0D86</string>
			<string>uni0D87</string>
			<string>uni0D88</string>
			<string>uni0D89</string>
			<string>uni0D8A</string>
			<string>uni0D8B</string>
			<string>uni0D8C</string>
			<string>uni0D8D</string>
			<string>uni0D8E</string>
			<string>uni0D8F</string>
			<string>uni0D90</string>
			<string>uni0D91</string>
			<string>uni0D92</string>
			<string>uni0D93</string>
			<string>uni0D94</string>
			<string>uni0D95</string>
			<string>uni0D96</string>
			<string>uni0D9A</string>
			<string>uni0D9B</string>
			<string>uni0D9C</string>
			<string>uni0D9D</string>
			<string>uni0D9E</string>
			<string>uni0D9F</string>
			<string>uni0DA0</string>
			<string>uni0DA1</string>
			<string>uni0DA2</string>
			<string>uni0DA3</string>
			<string>uni0DA4</string>
			<string>uni0DA5</string>
			<string>uni0DA6</string>
			<string>uni0DA7</string>
			<string>uni0DA8</string>
			<string>uni0DA9</string>
			<string>uni0DAA</string>
			<string>uni0DAB</string>
			<string>uni0DAC</string>
			<string>uni0DAD</string>
			<string>uni0DAE</string>
			<string>uni0DAF</string>
			<string>uni0DB0</string>
			<string>uni0DB1</string>
			<string>uni0DB3</string>
			<string>uni0DB4</string>
			<string>uni0DB5</string>
			<string>uni0DB6</string>
			<string>uni0DB7</string>
			<string>uni0DB8</string>
			<string>uni0DB9</string>
			<string>uni0DBA</string>
			<string>uni0DBB</string>
			<string>uni0DBD</string>
			<string>uni0DC0</string>
			<string>uni0DC1</string>
			<string>uni0DC2</string>
			<string>uni0DC3</string>
			<string>uni0DC4</string>
			<string>uni0DC5</string>
			<string>uni0DC6</string>
			<string>uni0DCA</string>
			<string>uni0DCF</string>
			<string>uni0DD0</string>
			<string>uni0DD1</string>
			<string>uni0DD2</string>
			<string>uni0DD3</string>
			<string>uni0DD4</string>
			<string>uni0DD6</string>
			<string>uni0DD8</string>
			<string>uni0DD9</string>
			<string>uni0DDA</string>
			<string>uni0DDB</string>
			<string>uni0DDC</string>
			<string>uni0DDD</string>
			<string>uni0DDE</string>
			<string>uni0DDF</string>
			<string>uni0DF2</string>
			<string>uni0DF3</string>
			<string>uni0DF4</string>
			<string>uni0D9A0DCA200D0DC2</string>
			<string>uni0D9B0DCA</string>
			<string>uni0D9B0DD2</string>
			<string>uni0D9B0DD3</string>
			<string>uni0D9C0DD4</string>
			<string>uni0D9C0DD6</string>
			<string>uni0D9E0DCA</string>
			<string>uni0D9E0DD2</string>
			<string>uni0D9E0DD3</string>
			<string>uni0D9F0DD4</string>
			<string>uni0D9F0DD6</string>
			<string>uni0DA00DCA</string>
			<string>uni0DA00DD2</string>
			<string>uni0DA00DD3</string>
			<string>uni0DA10DCA</string>
			<string>uni0DA20DCA</string>
			<string>uni0DA40DCF</string>
			<string>uni0DA40DD4</string>
			<string>uni0DA40DD6</string>
			<string>uni0DA4.rakar</string>
			<string>uni0DA50DCF</string>
			<string>uni0DA50DD4</string>
			<string>uni0DA50DD6</string>
			<string>uni0DA5.rakar</string>
			<string>uni0DA70DCA</string>
			<string>uni0DA70DD2</string>
			<string>uni0DA70DD3</string>
			<string>uni0DA80DCA</string>
			<string>uni0DA80DD2</string>
			<string>uni0DA80DD3</string>
			<string>uni0DA90DCA</string>
			<string>uni0DA90DD2</string>
			<string>uni0DA90DD3</string>
			<string>uni0DAA0DCA</string>
			<string>uni0DAA0DD2</string>
			<string>uni0DAA0DD3</string>
			<string>uni0DAC0DCA</string>
			<string>uni0DAC0DD2</string>
			<string>uni0DAC0DD3</string>
			<string>uni0DAD0DD4</string>
			<string>uni0DAF0DCF</string>
			<string>uni0DAF0DD4</string>
			<string>uni0DAF0DD6</string>
			<string>uni0DAF0DD8</string>
			<string>uni0DAF.rakar</string>
			<string>uni0DB00DCA</string>
			<string>uni0DB00DD2</string>
			<string>uni0DB00DD3</string>
			<string>uni0DB30DCF</string>
			<string>uni0DB30DD4</string>
			<string>uni0DB30DD6</string>
			<string>uni0DB3.rakar</string>
			<string>uni0DB30DCA200D0DA80DCA</string>
			<string>uni0DB30DCA200D0DA80DD2</string>
			<string>uni0DB30DCA200D0DA80DD3</string>
			<string>uni0DB30DCA200D0DB00DCA</string>
			<string>uni0DB30DCA200D0DB00DD2</string>
			<string>uni0DB30DCA200D0DB00DD3</string>
			<string>uni0DB60DCA</string>
			<string>uni0DB60DD2</string>
			<string>uni0DB60DD3</string>
			<string>uni0DB70DD4</string>
			<string>uni0DB70DD6</string>
			<string>uni0DB80DCA</string>
			<string>uni0DB80DD2</string>
			<string>uni0DB80DD3</string>
			<string>uni0DB90DCA</string>
			<string>uni0DB90DD2</string>
			<string>uni0DB90DD3</string>
			<string>yansaya</string>
			<string>uni0DBB0DCA</string>
			<string>uni0DBB0DD0</string>
			<string>uni0DBB0DD1</string>
			<string>rapaya</string>
			<string>rakar</string>
			<string>uni0DBD0DD4</string>
			<string>uni0DBD0DD6</string>
			<string>uni0DC00DCA</string>
			<string>uni0DC00DD2</string>
			<string>uni0DC00DD3</string>
			<string>uni0DC10DD4</string>
			<string>uni0DC10DD6</string>
			<string>uni0DC10DD2.rakar</string>
			<string>uni0DC10DD3.rakar</string>
			<string>uni0DC50DD4</string>
			<string>uni0DC50DD6</string>
			<string>uni0DDA.sechalf</string>
			<string>uni0DDC.sechalf</string>
			<string>uni0DDD.sechalf</string>
			<string>uni0DDE.sechalf</string>
			<string>_ai</string>
			<string>A</string>
			<string>B</string>
			<string>C</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>G</string>
			<string>H</string>
			<string>I</string>
			<string>J</string>
			<string>K</string>
			<string>L</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>P</string>
			<string>Q</string>
			<string>R</string>
			<string>S</string>
			<string>T</string>
			<string>U</string>
			<string>V</string>
			<string>W</string>
			<string>X</string>
			<string>Y</string>
			<string>Z</string>
			<string>asciicircum</string>
			<string>underscore</string>
			<string>grave</string>
			<string>a</string>
			<string>b</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>f</string>
			<string>g</string>
			<string>h</string>
			<string>i</string>
			<string>j</string>
			<string>k</string>
			<string>l</string>
			<string>m</string>
			<string>n</string>
			<string>o</string>
			<string>p</string>
			<string>q</string>
			<string>r</string>
			<string>s</string>
			<string>t</string>
			<string>u</string>
			<string>v</string>
			<string>w</string>
			<string>x</string>
			<string>y</string>
			<string>z</string>
			<string>kra</string>
			<string>chroo</string>
			<string>troo</string>
			<string>Droo</string>
			<string>unidroo</string>
			<string>braoo</string>
			<string>unimraoo</string>
			<string>UniMbra</string>
			<string>uniVra</string>
		</array>
		<key>com.schriftgestaltung.font.vendorID</key>
		<string>MS</string>
	</dict>
	<key>com.schriftgestaltung.font.vendorID</key>
	<string>MS</string>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>902E803C-EB75-4CF8-B2E0-AD6A3AB6F03E</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>uni000D</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>Euro</string>
		<string>ellipsis</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>perthousand</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>bullet</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni00A0</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>logicalnot</string>
		<string>degree</string>
		<string>multiply</string>
		<string>divide</string>
		<string>uni22C6</string>
		<string>plusminus</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>uni200C</string>
		<string>uni200D</string>
		<string>uni25CC</string>
		<string>uni0D82</string>
		<string>uni0D83</string>
		<string>uni0D85</string>
		<string>uni0D86</string>
		<string>uni0D87</string>
		<string>uni0D88</string>
		<string>uni0D89</string>
		<string>uni0D8A</string>
		<string>uni0D8B</string>
		<string>uni0D8C</string>
		<string>uni0D8D</string>
		<string>uni0D8E</string>
		<string>uni0D8F</string>
		<string>uni0D90</string>
		<string>uni0D91</string>
		<string>uni0D92</string>
		<string>uni0D93</string>
		<string>uni0D94</string>
		<string>uni0D95</string>
		<string>uni0D96</string>
		<string>uni0D9A</string>
		<string>uni0D9B</string>
		<string>uni0D9C</string>
		<string>uni0D9D</string>
		<string>uni0D9E</string>
		<string>uni0D9F</string>
		<string>uni0DA0</string>
		<string>uni0DA1</string>
		<string>uni0DA2</string>
		<string>uni0DA3</string>
		<string>uni0DA4</string>
		<string>uni0DA5</string>
		<string>uni0DA6</string>
		<string>uni0DA7</string>
		<string>uni0DA8</string>
		<string>uni0DA9</string>
		<string>uni0DAA</string>
		<string>uni0DAB</string>
		<string>uni0DAC</string>
		<string>uni0DAD</string>
		<string>uni0DAE</string>
		<string>uni0DAF</string>
		<string>uni0DB0</string>
		<string>uni0DB1</string>
		<string>uni0DB3</string>
		<string>uni0DB4</string>
		<string>uni0DB5</string>
		<string>uni0DB6</string>
		<string>uni0DB7</string>
		<string>uni0DB8</string>
		<string>uni0DB9</string>
		<string>uni0DBA</string>
		<string>uni0DBB</string>
		<string>uni0DBD</string>
		<string>uni0DC0</string>
		<string>uni0DC1</string>
		<string>uni0DC2</string>
		<string>uni0DC3</string>
		<string>uni0DC4</string>
		<string>uni0DC5</string>
		<string>uni0DC6</string>
		<string>uni0DCA</string>
		<string>uni0DCF</string>
		<string>uni0DD0</string>
		<string>uni0DD1</string>
		<string>uni0DD2</string>
		<string>uni0DD3</string>
		<string>uni0DD4</string>
		<string>uni0DD6</string>
		<string>uni0DD8</string>
		<string>uni0DD9</string>
		<string>uni0DDA</string>
		<string>uni0DDB</string>
		<string>uni0DDC</string>
		<string>uni0DDD</string>
		<string>uni0DDE</string>
		<string>uni0DDF</string>
		<string>uni0DF2</string>
		<string>uni0DF3</string>
		<string>uni0DF4</string>
		<string>uni0D9A0DCA200D0DC2</string>
		<string>uni0D9B0DCA</string>
		<string>uni0D9B0DD2</string>
		<string>uni0D9B0DD3</string>
		<string>uni0D9C0DD4</string>
		<string>uni0D9C0DD6</string>
		<string>uni0D9E0DCA</string>
		<string>uni0D9E0DD2</string>
		<string>uni0D9E0DD3</string>
		<string>uni0D9F0DD4</string>
		<string>uni0D9F0DD6</string>
		<string>uni0DA00DCA</string>
		<string>uni0DA00DD2</string>
		<string>uni0DA00DD3</string>
		<string>uni0DA10DCA</string>
		<string>uni0DA20DCA</string>
		<string>uni0DA40DCF</string>
		<string>uni0DA40DD4</string>
		<string>uni0DA40DD6</string>
		<string>uni0DA4.rakar</string>
		<string>uni0DA50DCF</string>
		<string>uni0DA50DD4</string>
		<string>uni0DA50DD6</string>
		<string>uni0DA5.rakar</string>
		<string>uni0DA70DCA</string>
		<string>uni0DA70DD2</string>
		<string>uni0DA70DD3</string>
		<string>uni0DA80DCA</string>
		<string>uni0DA80DD2</string>
		<string>uni0DA80DD3</string>
		<string>uni0DA90DCA</string>
		<string>uni0DA90DD2</string>
		<string>uni0DA90DD3</string>
		<string>uni0DAA0DCA</string>
		<string>uni0DAA0DD2</string>
		<string>uni0DAA0DD3</string>
		<string>uni0DAC0DCA</string>
		<string>uni0DAC0DD2</string>
		<string>uni0DAC0DD3</string>
		<string>uni0DAD0DD4</string>
		<string>uni0DAF0DCF</string>
		<string>uni0DAF0DD4</string>
		<string>uni0DAF0DD6</string>
		<string>uni0DAF0DD8</string>
		<string>uni0DAF.rakar</string>
		<string>uni0DB00DCA</string>
		<string>uni0DB00DD2</string>
		<string>uni0DB00DD3</string>
		<string>uni0DB30DCF</string>
		<string>uni0DB30DD4</string>
		<string>uni0DB30DD6</string>
		<string>uni0DB3.rakar</string>
		<string>uni0DB30DCA200D0DA80DCA</string>
		<string>uni0DB30DCA200D0DA80DD2</string>
		<string>uni0DB30DCA200D0DA80DD3</string>
		<string>uni0DB30DCA200D0DB00DCA</string>
		<string>uni0DB30DCA200D0DB00DD2</string>
		<string>uni0DB30DCA200D0DB00DD3</string>
		<string>uni0DB60DCA</string>
		<string>uni0DB60DD2</string>
		<string>uni0DB60DD3</string>
		<string>uni0DB70DD4</string>
		<string>uni0DB70DD6</string>
		<string>uni0DB80DCA</string>
		<string>uni0DB80DD2</string>
		<string>uni0DB80DD3</string>
		<string>uni0DB90DCA</string>
		<string>uni0DB90DD2</string>
		<string>uni0DB90DD3</string>
		<string>yansaya</string>
		<string>uni0DBB0DCA</string>
		<string>uni0DBB0DD0</string>
		<string>uni0DBB0DD1</string>
		<string>rapaya</string>
		<string>rakar</string>
		<string>uni0DBD0DD4</string>
		<string>uni0DBD0DD6</string>
		<string>uni0DC00DCA</string>
		<string>uni0DC00DD2</string>
		<string>uni0DC00DD3</string>
		<string>uni0DC10DD4</string>
		<string>uni0DC10DD6</string>
		<string>uni0DC10DD2.rakar</string>
		<string>uni0DC10DD3.rakar</string>
		<string>uni0DC50DD4</string>
		<string>uni0DC50DD6</string>
		<string>uni0DDA.sechalf</string>
		<string>uni0DDC.sechalf</string>
		<string>uni0DDD.sechalf</string>
		<string>uni0DDE.sechalf</string>
		<string>_ai</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>kra</string>
		<string>chroo</string>
		<string>troo</string>
		<string>Droo</string>
		<string>unidroo</string>
		<string>braoo</string>
		<string>unimraoo</string>
		<string>UniMbra</string>
		<string>uniVra</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciitilde</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>multiply</string>
		<string>divide</string>
		<string>plusminus</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>uni0D9A0DCA200D0DC2</string>
		<string>uni0D9B0DCA</string>
		<string>uni0D9B0DD2</string>
		<string>uni0D9B0DD3</string>
		<string>uni0D9C0DD4</string>
		<string>uni0D9C0DD6</string>
		<string>uni0D9E0DCA</string>
		<string>uni0D9E0DD2</string>
		<string>uni0D9E0DD3</string>
		<string>uni0D9F0DD4</string>
		<string>uni0D9F0DD6</string>
		<string>uni0DA00DCA</string>
		<string>uni0DA00DD2</string>
		<string>uni0DA00DD3</string>
		<string>uni0DA10DCA</string>
		<string>uni0DA20DCA</string>
		<string>uni0DA40DCF</string>
		<string>uni0DA40DD4</string>
		<string>uni0DA40DD6</string>
		<string>uni0DA50DCF</string>
		<string>uni0DA50DD4</string>
		<string>uni0DA50DD6</string>
		<string>uni0DA70DCA</string>
		<string>uni0DA70DD2</string>
		<string>uni0DA70DD3</string>
		<string>uni0DA80DCA</string>
		<string>uni0DA80DD2</string>
		<string>uni0DA80DD3</string>
		<string>uni0DA90DCA</string>
		<string>uni0DA90DD2</string>
		<string>uni0DA90DD3</string>
		<string>uni0DAA0DCA</string>
		<string>uni0DAA0DD2</string>
		<string>uni0DAA0DD3</string>
		<string>uni0DAC0DCA</string>
		<string>uni0DAC0DD2</string>
		<string>uni0DAC0DD3</string>
		<string>uni0DAD0DD4</string>
		<string>uni0DAF0DCF</string>
		<string>uni0DAF0DD4</string>
		<string>uni0DAF0DD6</string>
		<string>uni0DAF0DD8</string>
		<string>uni0DB00DCA</string>
		<string>uni0DB00DD2</string>
		<string>uni0DB00DD3</string>
		<string>uni0DB30DCF</string>
		<string>uni0DB30DD4</string>
		<string>uni0DB30DD6</string>
		<string>uni0DB30DCA200D0DA80DCA</string>
		<string>uni0DB30DCA200D0DA80DD2</string>
		<string>uni0DB30DCA200D0DA80DD3</string>
		<string>uni0DB30DCA200D0DB00DCA</string>
		<string>uni0DB30DCA200D0DB00DD2</string>
		<string>uni0DB30DCA200D0DB00DD3</string>
		<string>uni0DB60DCA</string>
		<string>uni0DB60DD2</string>
		<string>uni0DB60DD3</string>
		<string>uni0DB70DD4</string>
		<string>uni0DB70DD6</string>
		<string>uni0DB80DCA</string>
		<string>uni0DB80DD2</string>
		<string>uni0DB80DD3</string>
		<string>uni0DB90DCA</string>
		<string>uni0DB90DD2</string>
		<string>uni0DB90DD3</string>
		<string>uni0DBB0DCA</string>
		<string>uni0DBB0DD0</string>
		<string>uni0DBB0DD1</string>
		<string>uni0DBD0DD4</string>
		<string>uni0DBD0DD6</string>
		<string>uni0DC00DCA</string>
		<string>uni0DC00DD2</string>
		<string>uni0DC00DD3</string>
		<string>uni0DC10DD4</string>
		<string>uni0DC10DD6</string>
		<string>uni0DC10DD2.rakar</string>
		<string>uni0DC10DD3.rakar</string>
		<string>uni0DC50DD4</string>
		<string>uni0DC50DD6</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>kra</string>
		<string>chroo</string>
		<string>troo</string>
		<string>Droo</string>
		<string>unidroo</string>
		<string>braoo</string>
		<string>unimraoo</string>
		<string>UniMbra</string>
		<string>uniVra</string>
		<string>sinA</string>
		<string>sinAa</string>
		<string>sinAae</string>
		<string>sinAe</string>
		<string>sinAi</string>
		<string>sinAu</string>
		<string>sinBa</string>
		<string>sinBha</string>
		<string>sinCa</string>
		<string>sinCha</string>
		<string>sinDa</string>
		<string>sinDda</string>
		<string>sinDdha</string>
		<string>sinDha</string>
		<string>sinE</string>
		<string>sinEe</string>
		<string>sinFa</string>
		<string>sinGa</string>
		<string>sinGha</string>
		<string>sinHa</string>
		<string>sinI</string>
		<string>sinIi</string>
		<string>sinJa</string>
		<string>sinJha</string>
		<string>sinJnya</string>
		<string>sinKa</string>
		<string>sinKha</string>
		<string>sinLa</string>
		<string>sinLla</string>
		<string>sinMa</string>
		<string>sinMba</string>
		<string>sinNa</string>
		<string>sinNda</string>
		<string>sinNdja</string>
		<string>sinNga</string>
		<string>sinNna</string>
		<string>sinNndda</string>
		<string>sinNnga</string>
		<string>sinNya</string>
		<string>sinO</string>
		<string>sinOo</string>
		<string>sinPa</string>
		<string>sinPha</string>
		<string>sinRa</string>
		<string>sinSa</string>
		<string>sinSha</string>
		<string>sinSsa</string>
		<string>sinTa</string>
		<string>sinTha</string>
		<string>sinTta</string>
		<string>sinTtha</string>
		<string>sinU</string>
		<string>sinUu</string>
		<string>sinVa</string>
		<string>sinYa</string>
		<string>sinvocalicL</string>
		<string>sinvocalicLL</string>
		<string>sinvocalicR</string>
		<string>sinvocalicRr</string>
		<string>sinDa.rakar</string>
		<string>sinJnya.rakar</string>
		<string>sinNda.rakar</string>
		<string>sinNya.rakar</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>sinKundaliya</string>
		<string>nbspace</string>
		<string>space.001</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthnonjoiner</string>
		<string>CR</string>
		<string>euro</string>
		<string>minus</string>
		<string>notequal</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>approxequal</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>uni2219.osf</string>
		<string>plus.osf</string>
		<string>minus.osf</string>
		<string>multiply.osf</string>
		<string>divide.osf</string>
		<string>equal.osf</string>
		<string>notequal.osf</string>
		<string>greater.osf</string>
		<string>less.osf</string>
		<string>greaterequal.osf</string>
		<string>lessequal.osf</string>
		<string>plusminus.osf</string>
		<string>approxequal.osf</string>
		<string>asciitilde.osf</string>
		<string>logicalnot.osf</string>
		<string>infinity.osf</string>
		<string>uni2219.tf</string>
		<string>uni2215.tf</string>
		<string>plus.tf</string>
		<string>minus.tf</string>
		<string>multiply.tf</string>
		<string>divide.tf</string>
		<string>equal.tf</string>
		<string>notequal.tf</string>
		<string>greater.tf</string>
		<string>less.tf</string>
		<string>greaterequal.tf</string>
		<string>lessequal.tf</string>
		<string>plusminus.tf</string>
		<string>approxequal.tf</string>
		<string>dottedCircle</string>
		<string>sinMatraI</string>
		<string>sinMatraIi</string>
		<string>sinMatraU</string>
		<string>sinMatraUu</string>
		<string>sinVirama</string>
		<string>sinAnusvara</string>
		<string>sinMatraAa</string>
		<string>sinMatraAe</string>
		<string>sinMatraAea</string>
		<string>sinMatraAi</string>
		<string>sinMatraAu</string>
		<string>sinMatraE</string>
		<string>sinMatraEe</string>
		<string>sinMatraLl</string>
		<string>sinMatraLs</string>
		<string>sinMatraO</string>
		<string>sinMatraOo</string>
		<string>sinMatraR</string>
		<string>sinMatraRr</string>
		<string>sinVisarga</string>
		<string>sinMatraAu.sechalf</string>
		<string>sinMatraEe.sechalf</string>
		<string>sinMatraO.sechalf</string>
		<string>sinMatraOo.sechalf</string>
		<string>sinRakar</string>
		<string>sinRepaya</string>
		<string>sinYansaya</string>
	</array>
</dict>
</plist>
